@use '@/assets/styles/variables' as *;

.list {
  position: relative;
  .addNewQueryButton {
    position: absolute;
    top: $xxs;
    right: $xl;
    z-index: 10;
    padding: 0;
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background-color: transparent;
      color: $purpleOne;
    }
    span {
      padding: 0 !important;
      font-size: $captionSize !important;
      font-weight: 800 !important;
      color: $purpleOne;
    }
    svg.iconRight {
      path {
        fill: $white;
      }
    }
  }
  .combinedQueryInterfaceContainer {
    margin-top: -$s;
    background-color: $palePurple;
  }
}