@use "@/assets/styles/variables" as *;

.canvasGraph {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.graphArea {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.graphLoading {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $s;
  color: $darkGray;
  font-size: $captionSize;
}
