@use "@/assets/styles/variables" as *;

.editQueryModal {
  .container {
    position: relative;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 80%;
    scrollbar-width: none;
  }
  .header {
    border-bottom: 1px solid $midGray;
    padding: 0 0 $s;
    margin: 0;
  }
  .top {
    display: flex;
    flex-direction: column;
    gap: $m;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: $s;
  }
  
  .heading {
    margin: 0;
    padding: 0 $m;
  }

  .subheading {
    color: $black;
    margin: 0 0 $xs;
  }

  .inner {
    padding: 0 $m;
  }
  
  .wrapper {
    padding: $s;
    background-color: $lightGray;
    border-radius: $largeBorderRadius;
  }
  
  .projectNameInputContainer {
    width: 100%;
    label {
      margin: 0;
    }
  }
  
  .newProjectForm form {
    display: flex;
    align-items: flex-end;
    gap: $xs;
  }
  .createButton {
    padding: $xs;
    svg {
      path {
        fill: transparent;
        stroke: $white;
      }
    }
  }

  .noResults {
    p {
      margin: 0;
    }
  }

  .clearSearchIcon {
    cursor: pointer;
  }

  .projectItem {
    padding: 12px;
    transition: $defaultAnim;
    .projectName, .queryCount {
      transition: $defaultAnim;
    }
    &.selected {
      background-color: $lightPurpleTwo;
      .projectName, .queryCount {
        color: $purpleOne;
      }
    }
    &:hover {
      cursor: pointer;
      .projectName {
        text-decoration: underline;
      }
    }
  }

  .projectName {
    margin: 0;
    font-size: $bodyTwoSize;
    color: $black;
    font-weight: 800;
  }
  .queryCount {
    font-size: $captionSize;
    color: $darkGray;
    font-weight: 400;
    margin: 0;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    border-top: 1px solid $midGray;
    .right {
      display: flex;
      gap: $s;
    }
    .button {
      margin: 0;
    }
    .saveButton {
      svg path {
        fill: transparent;
        stroke: $white;
      }
    }
    .deleteButton {
      background-color: transparent;
      color: $purpleOne;
      &:hover {
        background-color: transparent;
      }
      svg {
        path {
          fill: $purpleOne;
        }
      }
    }
  }
}
