@use "@/assets/styles/variables" as *;

.appToast {
  padding: $m;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $xxs;
  .topText {
    font-size: $bodyOneSize;
    font-weight: 800;
    color: $black;
  }
  .bottomText {
    font-size: $captionSize;
    font-weight: 400;
    color: $darkGray;
  }
}
