@import "../../Assets/Styles/variables";

// Button
.button, button {
  font-size: $buttonSize;
  font-weight: bold;
  line-height: 1;
  padding: 10px $xs;
  border-radius: $defaultBorderRadius;
  border: none;
  cursor: pointer;
  color: $white;
  background-color: $purpleTwo;
  text-decoration: none;
  display: inline-flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: $s;
  transition: all .35s ease;
  &.smallFont {
    font-size: 12px;
    padding: 8.5px 8px;
  }
  svg {
    margin-right: 8px;
  }
  &.secondary {
    color: $black;
    background-color: $lightGray;
  }
  &.tertiary {
    color: $purpleTwo;
    background-color: $white;
    border: 1px solid $purpleTwo;
    &:hover {
      color: $white;
      background-color: $purpleTwo;
    }
  }
  &.iconOnly {
    border-radius: 50%;
    padding: 8px;
    svg {
      margin-right: 0;
    }
  }
  &:disabled, &[disabled] {
    color: $midGray;
    background-color: white;
    border-color: $midGray;
    cursor: default;
  }
}