@import "../../Assets/Styles/variables";

.resultsFilter {
  padding: $s $s 0;
  background-color: $lightGray;
  border-radius: $defaultBorderRadius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: $dropShadow;
  transition: $defaultAnim;
  overflow: hidden;
  position: relative;
  left: -24px;
  margin-right: -24px;
  .entitySearch {
    span {
      overflow: hidden;
    }
  }
   .closeButton, .clearAll, .bottom {
    transition: $defaultAnim;
  }
  .typeHeading {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  &.expanded {
    width: calc(330px - $s*2);
    .bottom {
      opacity: 1;
      pointer-events: all;
    }
    .heading span {
      width: auto;
    }
    .heading span, .bottom, .closeButton, .clearAll, .entitySearch {
      opacity: 1;
      pointer-events: all;
    }
  }
  &.collapsed {
    width: calc(56px - $s*2);
    .bottom {
      opacity: 0;
      pointer-events: none;
    }
    .heading span, .bottom, .closeButton, .entitySearch, .clearAll {
      opacity: 0;
      pointer-events: none;
    }
  }
  .bottom {
    position: relative;
  }
  .heading {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: $black;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }
    span {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right {
      display: flex;
      align-items: center;
    }
  }
  .clearAll {
    display: block;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    color: $purpleOne;
    background-color: transparent;
    margin: 3px $s 0 0;
    padding: 0;
    box-shadow: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .closeButton {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }
}
