@import "../../Assets/Styles/variables";

.resultsFilter {
  grid-row: 1/3;
  padding: $s;
  background-color: $lightGray;
  border-radius: $defaultBorderRadius;
  .labelContainer {
    padding: 15px 0;
    .label {
      display: inline-flex;
      align-items: center;
      position: relative;
    }
    p {
      cursor: default;
    }
    svg {
      margin-left: 4px;
    }
  }
  .heading {
    font-size: $m;
    font-weight: 700;
    color: $purpleTwo;
    margin: 0;
  }
  .top,.left {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    .select {
      height: min-content;
      width: 115px;
    }
  }
  .bottom {
    position: relative;
    justify-content: flex-end;
  }
  .subOne {
    color: $darkGray;
  }
  .subTwo {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    color: $darkGray;
  }
  .caption {
    font-size: $captionSize;
    margin: 0;
  }
  .checkbox,.radio {
    padding-left: $xs;
  }
  label {
    margin: 0;
  }
  .evidenceCheckbox {
    margin-bottom: $s;
  }
  .clearAll {
    display: block;
    font-size: 14px;
    color: $purpleOne;
    background-color: transparent;
    margin: 15px auto 10px;
    padding: 0;
    box-shadow: none;
  }
  .facetContainer {
    padding-bottom: 16px;
    input + span {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: $lightGray;
      width: 100%;
      padding-right: 45px;
    }
  }
  .facetCount {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    a {
      margin-right: 2px;
      display: flex;
    }
  }
  .roleSpan, .fdaSpan {
    font-size: 12px; 
  }
  .tooltipParagraph {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .tooltipLink {
    font-size: 12px; 
    color: $white;
  }
  .checkbox {
    margin-bottom: 0;
  }
  .showButtonsContainer {
    display: flex;
    justify-content: center;
  }
  .showButton {
    color: #606368;
    font-size: 12px;
    font-weight: 700;
    background-color: transparent;
    box-shadow: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .section {
    &.role {
      max-height: 250px;
      overflow-y: scroll;
    }
  }
  .extLinkIcon {
    width: 20px;
    height: 20px;
  }
}
