   @use "@/assets/styles/variables" as *;

.fileInput {
  .container {
    border: 1px solid $midPurpleTwo;
    border-radius: $defaultBorderRadius;
    padding: $m;
    background-color: $palePurple;
    .top {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      min-height: 34px;
    }
  }
  input[type="file"] {
    position: absolute; 
    left: -99999rem;
  }
  .buttonLabel {
    margin: 0 0 $xs;
    font-size: $captionSize;
  }
  .file {
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid $midPurpleTwo;
    .left {
      display: grid;
      grid-template-columns: 40px 1fr;
      gap: $xs;
      align-items: center;
    }
    .thumb {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .name {
      font-size: $captionSize;
      font-weight: 800;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &:last-of-type {
      border-bottom: 1px solid $midPurpleTwo;
    }
  }
  .remove {
    cursor: pointer;
  }
  .fileList {
    margin: $s auto 0;
    max-width: 400px;
  }
  .dropText {
    font-size: $captionSize;
  }
}