@use "@/assets/styles/variables" as *;

.contextPanel {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $s;
    padding: $s;
    border-bottom: 1px solid $midGray;
    .title {
      margin-bottom: 0;
      white-space: nowrap;
      color: $black;
      font-weight: 800;
    }
  }
  .content {
    padding: 0 $s $s;
  }
}