@use '@/assets/styles/variables' as *;

.dropLabel {
  font-size: $captionSize;
  font-weight: 400;
  color: $darkGray;
  margin: 0;
  opacity: 0;
  transition: $defaultAnim;
  height: 0;
  display: flex;
  pointer-events: none;
  &.visible {
    height: 17px;
    opacity: 1;
    margin: 0 0 $s;
    pointer-events: auto;
  }
}