@import "@/assets/styles/variables";

.heading {
  color: $purpleTwo
}
.prefs {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: $m;
  justify-content: space-between;
}
.submit {
  margin: $m 0 0 0;
  background-color: $purpleTwo;
}