@use "@/assets/styles/variables" as *;

.sidebar {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, auto);
  z-index: 10;
  .linkList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: $lightGray;
    // border right, but inset
    box-shadow: inset -1px 0 0 0 $midGray;
  }
  .top {
    & > *:first-child {
      padding: 20px 12px;
      background-color: $purpleTwo;
      margin-right: 0;
      svg path {
        fill: $white;
      }
    }
  }
  .middle {
    button {
      width: -webkit-fill-available;
    }
  }
  .sep {
    border-bottom: 1px solid $midGray;
    width: $m;
    margin: 0 auto;
  }
  &.collapsed {
    .activePanel {
      width: 0;
      padding: $s 0;
      opacity: 0;
    }
  }
  .activePanel {
    width: $panelWidth;
    opacity: 1;
    transition: $defaultAnim;
    overflow: hidden;
    box-shadow: inset -1px 0 $midGray;
  }
}