@import "../../Assets/Styles/variables";

.carouselContainer {
  position: relative;
  box-shadow: $dropShadow;
  border-radius: $defaultBorderRadius;
  .carousel-root {
    .carousel {
      .slide .slide-inside {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left {
          display: grid;
          justify-content: center;
          align-content: center;
          padding: 115px 94px;
          text-align: left;
          p, ol {
            color: $darkGray;
          }
          .sub-one {
            color: $black;
          }
        }
        .right {
          padding: $m;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
  
    }
  }
  .controls {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 25%;
    transform: translateX(-75%);
    z-index: 10;
    margin-bottom: 48px;
    .carousel .controlDots {
      margin: 0;
      position: relative;
      .dot {
        background-color: $purpleTwo20;
        box-shadow: none;
        transition: $defaultBoxShadowAnim;
        opacity: 1;
        height: 12px;
        width: 12px;
        &:hover {
          box-shadow: $dropShadowHover;
        }
        &.selected {
          background-color: $purpleTwo;
        }
      }
    }
    .prev,.next {
      background-color: $purpleTwo;
      border-radius: 50%;
      padding: 8px;
      transition: background-color .25s ease;
      margin: 0;
      svg {
        margin: 0;
        path {
          stroke: $white;
          transition: stroke .25s ease;
        }
      }
      &.true {
        background-color: transparent;
        svg path {
          stroke: $midGray;
        }
      }
    }
    .prev {
      margin-right: $xs;
    }
    .next {
      margin-left: $xs;
    }
  }

}