@use "@/assets/styles/variables" as *;

.resultsFilter {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: $defaultAnim;
  overflow: hidden;
  position: relative;
  .activeFilterFamily {
    position: absolute;
    inset: 0 1px 0 0;
    background-color: $lightGray;
    z-index: 1000;
  }
  .facetButton {
    background-color: $white;
    border: none;
    border-radius: 0;
    color: $darkGray;
    font-size: $bodyTwoSize;
    width: -webkit-fill-available;
    justify-content: space-between;
    padding: $s 0;
    margin: 0 $s;
    border-bottom: 1px solid $midGray;
    text-align: left;
    &.backButton {
      padding: 12px 12px 12px $xs;
      margin: 0;
      justify-content: flex-start;
      gap: $xxs;
      & > span {
        width: auto;
        text-align: left;
      }
    }
    & > span {
      width: 100%;
      color: $darkGray;
      padding: 0;
      white-space: nowrap;
      text-align: right;
      font-size: $subTwoSize;
    }
    &:hover {
      & > span {
        text-decoration: underline;
      }
    }
  }
  .entitySearch {
    span {
      overflow: hidden;
    }
  }
   .closeButton, .clearAll, .bottom {
    transition: $defaultAnim;
  }
  .bottom {
    height: 100%;
    position: relative;
  }
  .heading {
    font-size: $bodyOneSize;
    font-weight: 800;
    color: $black;
    margin: 0;
    padding: $s;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $midGray;
    span {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }
  .top {
    display: flex;
    align-items: center;
    .right {
      display: flex;
      align-items: center;
    }
  }
  .clearAll {
    display: block;
    font-size: 12px;
    line-height: 1;
    font-weight: 800;
    color: $purpleOne;
    background-color: transparent;
    margin: 3px $s 0 0;
    padding: 0;
    box-shadow: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
