@use "@/assets/styles/variables" as *;

.resultsFilter {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: $defaultAnim;
  position: relative;
  height: 100%;
  .entitySearch {
    span {
      overflow: hidden;
    }
  }
   .closeButton, .clearAll, .bottom {
    transition: $defaultAnim;
  }
  .bottom {
    height: 100%;
    position: relative;
  }
  .heading {
    font-size: $bodyOneSize;
    font-weight: 800;
    color: $black;
    margin: 0;
    padding: $s;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $midGray;
    span {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }
  .top {
    display: flex;
    align-items: center;
    .right {
      display: flex;
      align-items: center;
    }
  }
  .clearAll {
    display: block;
    font-size: 12px;
    line-height: 1;
    font-weight: 800;
    color: $purpleOne;
    background-color: transparent;
    margin: 3px $s 0 0;
    padding: 0;
    box-shadow: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
