@use '@/assets/styles/variables' as *;

.tableHeader {
  margin-bottom: $xs;
  padding: $xxs $m;
}

.tableRow {
  display: grid;
  grid-template-columns: $projectsTableGridColumns;
  gap: $s;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  > div {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: 1px;
    color: $purpleOne;
  }
  .bookmarksColumn, .notesColumn {
    svg path {
      fill: $purpleOne;
    }
  }
}

.checkboxColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  label {
    display: flex;
    margin: 0;
  }
  .separator {
    width: 1px;
    height: $s;
    background-color: $midGray;
    position: absolute;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
  }
}

.nameColumn {
  font-weight: 600;
}

.lastSeenColumn,
.dateAddedColumn {
  text-align: center;
}

.bookmarksColumn,
.notesColumn {
  text-align: center;
}

.statusColumn {
  text-align: center;
}

.actionsColumn {
  text-align: center;
}

.indeterminate {
  opacity: 0.7;
} 