@import "../../Assets/Styles/variables";

.queryPathfinder {
  background-color: $palePurple;
  height: 100%;
  position: relative;
  .container {
    padding: 80px 20px 0;
    max-width: 928px;
  }
  &.results {
    .container {
      padding: $l 0;
    }
  }
  .buttons {
    button {
      font-size: 12px;
      padding: 4px 8px;
    }
  }
  .loadingIcon {
    opacity: 0;
    transition: all .25s ease;
    margin-right: 0;
    margin-left: 10px;
    width: $l;
    height: $l;
    position: absolute;
    top: 14px;
    right: -40px;
    &.active {
      opacity: 1;
    }
  }
  .error {
    color: $red;
    text-align: center;
  }
  .showingResultsContainer {
    max-width: 640px;
    margin: 0 auto;
    .subHeading {
      color: $black;
      font-weight: 700;
      font-size: 20px;
    }
    .searchedTerm {
      color: $purpleOne;
      font-weight: 700;
      font-size: 20px;
      margin: 0 4px;
      display: inline-flex;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
        path {
          fill: $purpleOne;
        }
      }
    }
    .shareButton {
      font-size: 12px;
      padding: 4px 8px;
    }
  }
}
.container, .form {
  margin: 0 auto;
}
.h3 {
  color: $purpleTwo;
  margin-bottom: 8px;
  line-height: 60px;
  text-align: center;
}
.h6 {
  color: $darkGray;
  margin-bottom: $m;
  line-height: 25px;
  text-align: center;
}
.form {
  display: grid;
  grid-template-columns: 1fr 18px 1fr 40px;
  column-gap: $xs;
  align-items: center;
  box-shadow: $dropShadow;
  border-radius: $largeBorderRadius;
  padding: 0 $xs;
  background-color: $white;
  margin-bottom: $l;
  max-width: 910px;
  position: relative;
  .inputContainer {
    position: relative;
    display: flex;
  }
  .input {
    margin: 0;
    width: 100%;
    padding: 8px 12px;
    &.selected {
      input {
        font-weight: 600;
      }
    }
    input {
      border: none;
      outline: none;
    }
    svg path {
      fill: $darkGray;
    }
  }
  .submitButton {
    margin: 0;
    border: none;
    svg path {
      stroke: $white;
    }
  }
  .close {
    background-color: transparent;
    padding: 0;
    svg {
      width: 24px;
      height: 24px;
      path {
        fill: $darkGray;
      }
    }
  }
}