@use "@/assets/styles/variables" as *;

.container {
  padding: 0 $l $m;
}

.tableHeader, .top {
  display: grid;
  grid-template-columns: 1fr 112px 110px 90px 90px;
  column-gap: $s;
}

.tableHeader {
  margin-bottom: $xxs;
}

.header {
  display: flex;
  flex-direction: column;
  gap: $xs;
  padding-bottom: $s;
  margin-bottom: $s;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: $xs;
}

.tabBar {
  display: flex;
  gap: $m;
  margin: $xs 0 $s;
  padding: 0 $xl $xs;
  border-bottom: 1px solid $lightGray;
}

.tabContent {
  min-height: 200px;
}

.tabContentItem {
  margin: 0 0 $xs $l;
  &:first-child {
    margin-left: 0;
  }
}