@import "../../Assets/Styles/variables";

.graphContainer {
  width: 100%;
  height: 500px;
  margin: 0;
  border: 1px solid $midGray;
  border-radius: 5px;
}

.sidebar {
  padding-bottom: $s;
}

.cytoscapeContainer {
  width: 100%;
  height: 100%;
}
.layoutButton {
  background-color: $white;
  color: $darkGray;
  transition: all .25s ease;
  margin: 0 $xs $xs 0;
  &.active {
    background-color: $blueTwo;
    color: $white;
  }
}

.layoutHeader {
  color: $black;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: $xs;
}