@import "../../Assets/Styles/variables";

.graphContainer {
  width: 100%;
  height: 550px;
  margin: 0;
  border: 1px solid $midGray;
  border-radius: 5px;
  position: relative;
}

.graphControls {
  position: absolute;
  top: $s;
  right: $s;
  z-index: 100;
  border-radius: $defaultBorderRadius;
  button {
    margin: 0 0 0 $s;
    color: $white;
    background-color: $blueTwo;
    transition: all .25s ease;
  }
}

.cytoscapeContainer {
  width: 100%;
  height: 100%;
}
