@import "../../Assets/Styles/variables";

.graphView {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1.5px solid #606368;
}

.container {
  position: relative;
  height: 200px;
}

.edgeLabel {
  fill: #000 !important;
}