@use "@/assets/styles/variables" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  padding: $xs;
  background-color: $purpleOne;
  transition: $defaultAnim;
  border-radius: $defaultBorderRadius;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: $purpleTwo;
  }
  &.smallFont {
    .label {
      font-size: $captionSize;
    }
  }
  .label {
    padding: $xxxs $xxs; 
    font-size: $bodyOneSize;
    font-weight: 800;
    line-height: 1.25;
  }
  svg {
    height: $m;
    width: $m;
    transition: $defaultAnim;
    path {
      fill: $white;
      transition: $defaultAnim;
    }
  }
  &.secondary {
    background-color: $lightGray;
    color: $black;
    svg {
      path {
        fill: $black;
      }
    }
    &:hover {
      background-color: $grayHover;
    }
  }
  &.textOnly {
    background-color: transparent;
    color: $purpleOne;
    svg {
      path {
        fill: $purpleOne;
      }
    }
    &:hover {
      .label {
        text-decoration: underline;
      }
    }
  }
  &:disabled {
    background-color: $lightGray;
    color: $midDarkGray;
    cursor: default;
    svg {
      path {
        stroke: $midDarkGray;
      }
    }
  }
  &.small {
    padding: $xxs $xs;
    .label {
      font-size: $captionSize;
      padding: 4.5px $xxs; 
    }
  }
  &.iconOnly {
    padding: $xxs;
  }
  .iconLeft, .iconRight {
    display: flex;
  }
  &.inline {
    display: inline;
    padding: 0;
    .label {
      padding: 0;
    }
  }
}