@import "../../Assets/Styles/variables";

.query {
  padding: 72px 0;
  background-color: $purpleTwo20;
  .container {
    padding: 0 20px 0;
  }
  .heading {
    color: $purpleTwo;
    text-align: center;
    margin-bottom: $xl;
  }
  .error {
    color: $red;
    text-align: center;
  }
  .queryItems {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: $s;
    .panel {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: $s;
      align-items: flex-start;
    }
    .build {
      .panel {
        display: block;
      }
    }
    .howTo {
      background-color: $lightGray;
      box-shadow: $dropShadow;
      padding: $m;
    }
  }
  .examples {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .subTwo {
      font-size: 14px;
      font-weight: 700;
      color: $darkGray;
      margin: 0 $s 0 0;
    }
    .exampleList {
      .button {
        background-color: $white;
        color: $purpleOne;
        margin: 0 $s 0 0;
        align-items: center;
        background-color: $white;
        border-radius: 5px;
        color: $purpleOne;
        cursor: pointer;
        display: inline-flex;
        font-size: 16px;
        font-weight: 700;
        justify-content: center;
        line-height: 1;
        padding: 10px 8px;
        text-decoration: none;
        transition: box-shadow .25s ease;
        box-shadow: $dropShadow;
        &:hover {
          box-shadow: $dropShadowHover;
        }
      }
    }
  }
  .needHelp {
    text-align: center;
    margin: 12px 0 0 0;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: $purpleOne;
      text-decoration: none;
      font-weight: 700; 
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
    svg {
      circle {
        stroke: $purpleOne; 
      }
      path {
        fill: $purpleOne; 
      }
    }
  }
  .monarchLink {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    svg {
      margin-left: 4px;
      width: 18px;
      height: 18px;
    }
  }
  .curieContainer {
    margin-bottom: 4px;
    .curieLabel {
      margin: 0 4px 4px 0;
    }
    .curie {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 14px;
    }
  }
}