@import "../../Assets/Styles/variables";

.autoHeightContainer {
  overflow: visible !important;
}

.query {
  padding: $l 0;
  background-color: $palePurple;
  position: relative;
  .subHeading {
    margin-bottom: $s;
  }
  .nodeLink {
    margin: 0;
    .nodeLinkAnchor {
      display: inline;
      font-size: 12px;
      svg {
        margin-left: 4px;
        width: 14px;
        height: 14px;
        path {
          fill: $white;
        }
      }
    }
  }
  .bottom { 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: $s auto $s;
    button {
      margin: 0 $s 0 0;
      font-size: $captionSize;
      font-weight: 800;
    }
  }
  .container {
    padding: 0 20px 0;
    max-width: 928px;
    margin: 0 auto;
  }
  .h3 {
    color: $purpleTwo;
    margin-bottom: 8px;
    line-height: 60px;
    text-align: center;
  }
  .h6 {
    color: $darkGray;
    margin-bottom: $m;
    line-height: 25px;
    text-align: center;
  }
  .showingResultsContainer {
    display: grid;
  }
  .showingResultsText {
    color: $purpleTwo;
    font-size: $s;
    margin-bottom: 0;
  }
  .subHeading, .searchedTerm {
    font-weight: 800;
    font-size: 20px;
    margin: 0;
    color: $black;
  }
  .searchedTerm {
    display: inline-block;
    color: $purpleOne;
  }
  .nodeDescription, .nodeDescriptionHeading {
    color: $black;
    margin: 0;
  }
  .nodeDescriptionHeading {
    margin-top: 10px;
    font-weight: 700;
    font-size: 12px;
  }
  .nodeDescription {
    font-size: $bodyOneSize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .error {
    color: $red;
    text-align: center;
  }
  .nodeDescriptionContainer{
    align-self: flex-end;
  }
  .resultsHeader {
    margin: 0 auto;
  }
  .resultsHeader, .bottom {
    width: 640px;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .button {
      padding: 4px 8px;
      background-color: $white;
      color: $blueOne;
      transition: $defaultAnim;
      border-radius: $defaultBorderRadius;
      box-shadow: $dropShadow;
      font-size: $captionSize;
      margin-bottom: $s;
      line-height: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: none;
      &:hover {
        box-shadow: $dropShadowHover;
      }
      svg path {
        stroke: $blueOne;
      }
      .svgFillWhite path {
        fill: $blueOne;
        stroke: none;
      }
    }
    .buttonTwo {
      background-color: $blueOne;
      color: $white;
      &:hover {
        box-shadow: $dropShadowHover;
        background-color: $blueOne;
      }
      svg path {
        stroke: $white;
      }
      .svgFillWhite path {
        fill: $white;
        stroke: none;
      }
    }
  }
  .queryItems {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: $s;
    .panel {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: $s;
      align-items: flex-start;
    }
    .build {
      .panel {
        display: block;
      }
    }
    .howTo {
      background-color: $lightGray;
      box-shadow: $dropShadow;
      padding: $m;
    }
  }
  .curieContainer {
    margin-bottom: 4px;
    .curieLabel {
      margin: 0 4px 4px 0;
    }
    .curie {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 14px;
    }
  }
}

.arrow, .dualArrows {
  margin: 0 8px;
}

button .dualArrows {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin: 0;
  }
  svg:first-child {
    transform: rotate(180deg);
    margin-right: -8px;
  }
}

.gray {
  color: $darkGray;
}

.queryBarContainer {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 0 35px;
  box-shadow: $dropShadow;
  height: fit-content;
  border-radius: $largeBorderRadius;
  background-color: $white;
}
.loadingIcon {
  opacity: 0;
  transition: all .25s ease;
  margin-right: 0;
  margin-left: 10px;
  width: 64px;
  height: 64px;
  position: absolute;
  top: -8px;
  right: -64px;
  &.active {
    opacity: 1;
  }
}
.timestamp {
  opacity: 0;
  transition: opacity .5s ease;
  min-height: 15px;
  span, p {
    font-size: 12px;
    color: $darkGray;
    margin: 0;
  }
  &.active {
    opacity: 1;
  }
}
.showingResultsTop {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
}
.entityLinkContainer {
  font-size: 20px;
  svg {
    width: 20px;
    height: 20px;
    path {
      fill: $purpleOne;
    }
  } 
}