@import "../../Assets/Styles/variables";

.autoHeightContainer {
  overflow: visible !important;
}

.query {
  padding: 35px 0;
  background-color: $palePurple;
  position: relative;
  .container {
    padding: 0 20px 0;
    max-width: 1150px;
    margin: 0 auto;
  }
  .heading {
    color: $purpleTwo;
    text-align: center;
    margin-bottom: $xl;
  }
  .showingResultsContainer {
    padding: $s;
    border-radius: $defaultBorderRadius;
    background: $white;
    box-shadow: $dropShadow;
    display: grid;
  }
  .showingResultsText {
    color: $purpleTwo;
    font-size: $s;
    margin-bottom: 0;
  }
  .subHeading, .searchedTerm {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    color: $purpleTwo;
  }
  .searchedTerm {
    font-weight: 700;
    text-decoration: underline;
    margin-left: $xxs;
    display: inline-block;
  }
  .nodeDescription, .nodeDescriptionHeading {
    color: $darkGray;
    margin: 0;
  }
  .nodeDescriptionHeading {
    margin-top: 10px;
    font-weight: 700;
    font-size: $bodyOneSize;
  }
  .nodeDescription {
    font-size: $bodyTwoSize;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .error {
    color: $red;
    text-align: center;
  }
  .nodeDescriptionContainer{
    align-self: flex-end;
  }
  .resultsHeader {
    width: fit-content;
    max-width: 1000px;
    margin: 0 auto;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .button {
      padding: 4px 8px;
      background-color: $white;
      color: $blueOne;
      transition: $defaultAnim;
      border-radius: $defaultBorderRadius;
      box-shadow: $dropShadow;
      font-size: $captionSize;
      margin-bottom: $s;
      line-height: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: none;
      &:hover {
        box-shadow: $dropShadowHover;
      }
      svg path {
        stroke: $blueTwo;
      }
      .svgFillWhite path {
        fill: $blueTwo;
        stroke: none;
      }
    }
    .buttonTwo {
      background-color: $blueTwo;
      color: $white;
      &:hover {
        box-shadow: $dropShadowHover;
        background-color: $blueTwo;
      }
      svg path {
        stroke: $white;
      }
      .svgFillWhite path {
        fill: $white;
        stroke: none;
      }
    }
  }
  .queryItems {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: $s;
    .panel {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: $s;
      align-items: flex-start;
    }
    .build {
      .panel {
        display: block;
      }
    }
    .howTo {
      background-color: $lightGray;
      box-shadow: $dropShadow;
      padding: $m;
    }
  }
  .examples {
    padding: 0;
    transition: all .5s ease;
    &.isOpen {
      padding: 180px 0 0 0;
    }
  }
  .needHelp {
    text-align: center;
    margin: 12px 0 0 0;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: $purpleOne;
      text-decoration: none;
      font-weight: 700; 
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
    svg {
      circle {
        stroke: $purpleOne; 
      }
      path {
        fill: $purpleOne; 
      }
    }
  }
  .monarchLink {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    svg {
      margin-left: 4px;
      width: 18px;
      height: 18px;
    }
  }
  .curieContainer {
    margin-bottom: 4px;
    .curieLabel {
      margin: 0 4px 4px 0;
    }
    .curie {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 14px;
    }
  }
  .upperButtons, .middleButtons, .lowerButtons {
    display: flex;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 0 auto $s;
    button {
      svg path {
        fill: $white;
      }
    }
  }
  .upperButton, .middleButton, .lowerButton {
    transition: all .25s ease;
    &.selected {
      box-shadow: $dropShadowPressed;
    }
  }
  .upperButton, .middleButton {
    background-color: $purpleTwo;
    &.selected {
      background-color: $purpleOne;
    }
  }
  .upperButton {
    min-width: 260px;
    text-align: center;
  }
  .middleButton {
    min-width: 385px;
    text-align: center;
  }
  .lowerButton {
    background-color: $white;
    color: $purpleOne;
  }
}

.arrow, .dualArrows {
  margin: 0 8px;
}

button .dualArrows {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin: 0;
  }
  svg:first-child {
    transform: rotate(180deg);
    margin-right: -8px;
  }
}

.gray {
  color: $darkGray;
}

.queryBarContainer {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 0 35px;
  box-shadow: $dropShadow;
  height: fit-content;
  border-radius: $querySelectBorderRadius;
}
.loadingIcon {
  opacity: 0;
  transition: all .25s ease;
  margin-right: 0;
  margin-left: 10px;
  width: 64px;
  height: 64px;
  position: absolute;
  top: -8px;
  right: -64px;
  &.active {
    opacity: 1;
  }
}
.timestamp {
  text-align: center;
  margin: 12px 0 0;
  min-height: 18px;
  opacity: 0;
  transition: opacity .5s ease;
  span, p {
    font-size: 14px;
    font-style: italic;
    color: $purpleTwo;
    margin: 0;
  }
  span {
    font-weight: 700;
  }
  &.active {
    opacity: 1;
  }
}
.showingResultsTop {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
}