   @use "@/assets/styles/variables" as *;

.sendFeedbackFormContainer {
  max-width: 640px;
  margin: 0 auto;
  form label {
    margin-right: 0;
    width: 100%;
  }
  .submitButton {
    display: grid;
    width: 100%;
    margin: 0;
    background-color: $purpleOne;
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
  .errorContainer {
    margin-bottom: $s;
  }
  .errorText {
    color: $red;
    font-style: italic;
    margin: $xxs 0;
    font-size: $subTwoSize;
  }
  .successMessage {
    color: $purpleOne;
    text-align: center;
    margin-bottom: $s;
  }
  .fileUploadProgress {
    margin-top: 8px;
    font-size: $subTwoSize;
    color: $placeholderGray;
  }
  .issueCreatedContainer {
    p {
      margin-bottom: $m;
      line-height: 1.6;
    }
    .newIssue svg {
      margin-left: $xxs;
      margin-right: 0;
    }
    .viewIssue svg {
      margin-right: $xxs;
      path {
        fill: $white;
      }
    }
    .newIssue, .viewIssue {
      margin-bottom: 0;
    }
    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .title {
    color: $black;
  }
}