@import "../../Assets/Styles/variables";

.disclaimerModal {
 opacity: 0;
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 transition: opacity 0.25s ease;
 background-color: rgba(96, 99, 104, 0.5);
 z-index: 100;
 transition: opacity 1s ease;
}

.disclaimerModal.fade {
  opacity: 1;
}

.disclaimerContainer {
  width: 100%;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  transform: none;
}

.disclaimerInner {
  max-width: 900px;
  margin: 0 auto;
}
.disclaimerInner button {
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}
.body p {
  font-size: 14px;
}

.heading {
  font-weight: 700;
  font-size: 24px;
}