@import "../../Assets/Styles/variables";

.evidenceModal {
  .evidenceContainer {
    width: 1200px;
    height: 80%;
  }
  
  .tableBody {
    box-shadow: $dropShadow;
    font-size: $bodyTwoSize;
    border-radius: $defaultBorderRadius;
    &.clinicalTrials {
      .tableHead, .evidenceItem {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
    &.misc {
      .link svg {
        min-width: 20px;
        min-height: 20px;
      }
      .tableHead, .tableItem {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
    &.sources {
      .tableHead, .tableItem {
        display: grid;
        grid-template-columns: 1.25fr 3.75fr;
      }
      .source, .link {
        text-align: center;
      }
    }
    &.distinctSources {
      .tableHead, .tableItem {
        display: grid;
        grid-template-columns: 1.25fr 3.75fr;
      }
      .source, .link {
        text-align: center;
      }
    }
    .relationship {
      text-align: center;
      &>span {
        text-align: center;
      }
      span {
        display: block;
      }
    }
    .link a {
      justify-content: center;
    }
  }
  .pValueTable, .otherTable {
    &>div {
      grid-template-columns: 1fr 1fr 2fr;
      height: 60px;
      .cell {
        height: auto;
      }
    }
  }
  .noEvidence {
    padding: 50px 0;
    width: 100%;
    text-align: center;
  }
  .subtitle {
    font-size: 16px;
    color: $black;
    margin-bottom: 0;
    &:last-of-type {
      margin-bottom: $s;
    }
  }
  .title {
    margin-bottom: 0;
  }
  .evidenceCount {
    margin-bottom: $m;
  }
}
.pathView {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 10px 0 15px;
  padding: 20px;
  position: relative;
  background-color: $lightGray;
  span {
    width: auto;
  }
}

.groupedPreds {
  font-weight: 500;
  &>span {
    margin-bottom: 10px; 
  }
  &>span:last-child {
    margin-bottom: 0; 
  }
}

.infoIcon {
  margin-left: 4px;
}