@import "../../Assets/Styles/variables";

.evidenceModal {
  .evidenceContainer {
    width: 1200px;
    height: 80%;
    overflow-y: hidden;
    padding: $m $m 0;
  }
  .top {
    max-height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
  }
  .tabs {
    overflow-y: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  .tab {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
  }
  .tableBody {
    box-shadow: $dropShadow;
    font-size: $bodyTwoSize;
    border-radius: $defaultBorderRadius;
    margin: 0 10px 10px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    .tableItems {
      display: flex;
      flex-direction: column;
      overflow-y: auto; 
      scrollbar-width: thin;
      scrollbar-color: $midGray $lightGray;
      &::-webkit-scrollbar {
        width: 10px;
      }
      
      &::-webkit-scrollbar-track {
        background-color: $lightGray;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $midGray;
        border-radius: 10px;
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background-color: $darkGray;
      }
    }
    &.clinicalTrials {
      .tableHead, .evidenceItem {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
    &.misc {
      .link svg {
        min-width: 20px;
        min-height: 20px;
      }
      .tableHead, .tableItem {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
    &.sources {
      .tableHead, .tableItem {
        display: grid;
        grid-template-columns: 1.25fr 3.75fr;
      }
      .source, .link {
        text-align: center;
      }
      .source {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &.distinctSources {
      .tableHead, .tableItem {
        display: grid;
        grid-template-columns: 1.25fr 3.75fr;
      }
      .source, .link {
        text-align: center;
      }
    }
    .relationship {
      text-align: center;
      &>span {
        text-align: center;
      }
      span {
        display: block;
      }
    }
    .link a {
      justify-content: center;
    }
  }
  .pValueTable, .otherTable {
    &>div {
      grid-template-columns: 1fr 1fr 2fr;
      height: 60px;
      .cell {
        height: auto;
      }
    }
  }
  .noEvidence {
    padding: 50px 0;
    width: 100%;
    text-align: center;
  }
  .subtitle {
    font-size: 16px;
    color: $black;
    margin-bottom: 0;
  }
  .title {
    margin-bottom: 0;
  }
  .evidenceCount {
    margin-bottom: $m;
  }
}
.pathViewContainer {
  background-color: $palePurple;
  border-radius: $largeBorderRadius;
  border: 1px solid $lightPurpleTwo;
  margin: $s auto $s;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.pathView {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 5px;
  max-width: calc(100% - $l);
  align-items: center;
  margin: 0 auto;
  padding: $s;
  position: relative;
  .pathContainer, .nameContainer, .targetContainer {
    cursor: pointer;
    &>span {
      padding: 4px 8px 4px 4px;
      min-height: 22px;
      width: 136px;
    }
  }
}

.groupedPreds {
  font-weight: 500;
  &>span {
    margin-bottom: 10px; 
  }
  &>span:last-child {
    margin-bottom: 0; 
  }
  .pathContainer {
    &>svg {
      height: 27px;
    }
    &:first-of-type {
      &>svg {
        top: 80%;
        height: auto;
      }
    }
    &:last-of-type {
      &>svg {
        top: 28%;
        height: auto;
      }
    }
  }
  &.hasTwo {
    .pathContainer {
      &>svg {
        top: 50% !important;
      }
    }
  }
}

.infoIcon {
  margin-left: 4px;
}