@import "../../Assets/Styles/variables";

.evidenceModal {
  .evidenceContainer {
    width: 1130px;
  }
  .tableHead {
    border-bottom: 1px solid $midGray;
    border-radius: 5px 5px 0 0;
    .head {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 10px;
      font-weight: 700;
      line-height: 1.25;
      text-transform: uppercase;
      padding: 12px;
    }
  }
  .tableBody {
    box-shadow: $dropShadow;
    font-size: $bodyTwoSize;
    border-radius: $defaultBorderRadius;
    margin-top: $m;
    &>div {
      display: grid;
      // Columns with no title 
      grid-template-columns: 1fr 1.25fr 3.5fr 1.25fr 1fr;
      // Columns with title included
      // grid-template-columns: 1fr 1.25fr 2fr 2.5fr 1.25fr 1fr;
      .cell {
        padding: 12px;
        height: 98px;
        .bold {
          font-weight: 700;
        }
        &.source, &.pubdate {
          text-align: center;
        }
        &.title {
          text-align: center;
          a {
            font-weight: 700;
            color: $black;
            text-decoration: none;
            font-size: 12px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &.abstract span {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
      .cell, .cell span {
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &>div:nth-child(odd){
      background-color: $lightGray;
    }
    &>div:first-child {
      background-color: $purpleTwo;  
    }
    .url {
      font-size: 12px;
      font-weight: 700;
      text-decoration: none;
      color: $darkGray;
      display: flex;
      align-items: center;
      svg {
        margin-left: 4px;
        width: $s;
      }
    }
  }
  .noEvidence {
    padding: 50px 0;
    width: 100%;
    text-align: center;
  }
  .subtitle {
    font-size: 20px;
    color: $darkGray;
    margin-bottom: 0;
    &:last-of-type {
      margin-bottom: $s;
    }
  }
  .title {
    margin-bottom: 0;
  }
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $m;
  .perPage {
    label {
      margin: 0;
      width: 212px;
    }
  }
  .pagination {
    grid-column: 2/3;
    .pageNums {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      padding-left: 0;
      margin: 0 0 0 auto;
      .button {
        margin-bottom: 0;
        background-color: $purpleOne;
        padding: 10px 25px;
        border-radius: $defaultBorderRadius;
        color: $white;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
      }
      .disabled {
        background-color: transparent;
        color: $midGray;
        pointer-events: none;
        cursor: default;
      }
      .pageNum {
        a {
          display: block;
          cursor: pointer;
          padding: 10px 15px;
          line-height: 1;
          margin: 8px;
          transition: all .25s ease;
          border: 1px solid transparent;
          border-radius: 5px;
          color: $darkGray;
          font-size: $bodyOneSize;
          font-weight: 700;
          &:hover {
            background-color: $purpleTwo20;
            color: $purpleOne;
          }
        }
        &.current {
          a {
            background-color: $purpleTwo20;
            color: $purpleOne;
          } 
        }
      }
    }
  }
}