@import "../../Assets/Styles/variables";

.summaryModal {
  .summaryModalContainer {
    padding: $l;
    height: 80%;
    overflow: hidden;
    max-width: 640px;
  }
  .top {
    padding: 0 0 $s;
    border-bottom: 1px solid $midGray;
    .heading {
      margin-bottom: $xxs;
    }
    .statusText {
      font-size: $subTwoSize;
      color: $darkGray;
      font-weight: 400;
      margin: 0;
    }
  }
  .bottom {
    padding: $s 0 0 0;
    display: grid;
    height: 85%;
    position: relative;
  }
  .loadingArea {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: $defaultAnim;
    padding: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    max-width: 480px;
    &.active {
      opacity: 1;
    }
  }
}