@import "../../Assets/Styles/variables";

.button {
  width: 100% !important;
  margin: 0;
}

.content {
  text-align: center;
}

.subtitle {
  font-style: italic;
  font-size: $bodyTwoSize;
}

.heading {
  color: $purpleOne;
}

.sharedItem {
  color: $yellow;
  font-size: $h4Size;
}

.buttonsContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding: 50px 0 0 0;
}
