@import "../../Assets/Styles/variables";

.result {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 2fr .75fr;
  padding: 12px;
  column-gap: $s;
  @media screen and (min-width: $desktop) {
    grid-template-columns: 1fr 112px 110px 90px 90px 24px;
  }
  &:nth-child(even) {
    &.highlighted {
      background-color: $lightYellow;
    }
  }
  &:nth-child(odd) {
    &.highlighted {
      background-color: $yellow;
    }
  }
  .resultSub {
    padding: 4px 0;
    display: flex;
    align-items: center;
  }
  .tags {
    margin: 10px 0 10px;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 12px;
    &.more {
      position: relative;
      padding-right: 8px;
      // &:after {
      //   content: url('../../Icons/Buttons/Circle Add.svg');
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   width: 16px;
      //   height: 16px;
      //   cursor: pointer;
      //   opacity: 1;
      //   transition: opacity .25s ease;
      // }
    }
    .hasMore {
        position: absolute;
        top: 4px;
        left: 100%;
        font-size: 12px;
        font-weight: 400;
        color: $purpleOne;
        white-space: nowrap;
        opacity: 1;
        transition: opacity .5s ease;
    }
  }
  .open .tags.more .hasMore {
    opacity: 0;
  }
  .tag {
    font-size: 12px;
    line-height: 1.25;
    font-weight: 700;
    background-color: transparent;
    box-shadow: none;
    color: $purpleTwo;
    border: 1px solid $purpleTwo;
    margin: 0;
    padding: 8px 8.5px;
    border-radius: $defaultBorderRadius;
    transition: $defaultAnim;
    opacity: 1 !important;
    white-space: nowrap;
    width: 100%;
    &:hover {
      box-shadow: none;
      text-decoration: underline;
      background-color: $purpleTwo;
      color: $white;
    }
    &.active {
      box-shadow: none;
      text-decoration: underline;
      background-color: $purpleTwo;
      color: $white;
    }
  }
  .bookmarkContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
  }
  .checkboxContainer {
    display: none;
  }
  .nameContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden;
    cursor: pointer;
    span {
      line-height: 1.25;
    }
    .icon {
      display: none;
    }
    .name {
      display: block;
    }
    .name, .name span, .name mark {
      color: $purpleOne;
      font-size: 20px;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      min-height: 25px;
      text-transform: none;
    }
    .effect {
      width: 100%;
      font-size: $s;
      color: $darkGray
    }
  }
  .scoreNum, .pathsNum, .info {
    font-size: 12px;
    line-height: 1.25;
    color: $darkGray;
  }
  .fdaIcon {
    height: 24px;
    position: relative;
  }
  .evidenceLink {
    font-size: $bodyTwoSize;
    cursor: default;
    .viewAll {
      font-size: $bodyTwoSize;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .info {
      display: block;
      margin-bottom: 2px;
    }
  }
  .downloadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      height: 32px;
      width: 32px;
      transform: rotate(180deg);
    }
  }
  .shareResultIcon {
    box-shadow: none;
    margin: 0;
    width: 100%;
    svg {
      margin-right: 0;
      width: 24px;
      opacity: 1 !important;
    }
  }
  .accordionButton {
    box-shadow: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    padding: 0;
    svg {
      transition: transform .25s ease;
      margin-right: 0;
    }
    &:hover {
      box-shadow: none;
    }
    &.open {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  .accordionPanel {
    grid-column: 1/7;
    &.hasDescription, &.hasTags {
      min-height: 40px;
    }
    &.hasDescription.hasTags {
      min-height: 83px;
    }
    &>div {
      display: block !important;
    }
    &.open {
      padding: 0 0 20px;
    }
    &.closed {
      button {
        opacity: 0;
      }
    }
    .container {
      max-width: calc(100% - 300px);
      padding: 0;
      p, p span, p mark {
        font-size: 12px;
      }
    }
  }
}

.bookmarkContainer {
  .icon, .notesIcon, .bookmarkIcon {
    border-radius: $defaultBorderRadius;
    background-color: $lightGray;
    cursor: pointer;
    position: relative;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $defaultAnim;
    svg {
      opacity: 1;
    }
    .bookmarkFilledSVG, .notesFilledSVG {
      opacity: 0;
    }
    &:hover {
      background-color: $midGray;
    }
    &.filled {
      svg {
        opacity: 0;
      }
      .bookmarkFilledSVG, .notesFilledSVG {
        opacity: 1;
      }
    }
    svg {
      height: 24px;
      width: 24px;
      transition: $defaultAnim;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      path {
        stroke-width: 0;
        transition: all .25s ease;
      }
    } 
  }
  .bookmarkIcon {
    svg path {
      fill: $black;
    }
  }
  &.even {
    .icon, .notesIcon, .bookmarkIcon {
      background-color: $white;
      &:hover {
        background-color: $midGray;
      }
    }
  }
}
