@import "../../Assets/Styles/variables";

.result {
  display: grid;
  grid-template-columns: 1fr 225px 75px 50px;
  padding: 12px;
  &:nth-child(even) {
    &.highlighted {
      background-color: $yellow20;
    }
  }
  &:nth-child(odd) {
    &.highlighted {
      background-color: $yellow50;
    }
  }
  .resultSub {
    padding: $xs 0;
    display: flex;
    align-items: center;
  }
  .checkboxContainer {
    display: none;
  }
  .nameContainer {
    display: block;
    overflow: hidden;
    cursor: pointer;
    span {
      line-height: 1.25;
    }
    .icon {
      display: none;
    }
    .name {
      display: block;
    }
    .name, .name span, .name mark {
      color: $purpleOne;
      font-size: 20px;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      min-height: 25px;
      text-transform: none;
    }
    .effect {
      grid-column: 2/3;
      font-size: $s;
      color: $darkGray
    }
  }
  .fdaContainer, .evidenceContainer, .scoreContainer {
    text-align: center;
    padding-left: $s;
    padding-right: $s;
    justify-content: center;
  }
  .scoreNum {
    font-size: 14px;
    font-weight: 700;
  }
  .fdaIcon {
    height: 24px;
    position: relative;
  }
  .evidenceLink {
    font-size: $bodyTwoSize;
    cursor: pointer;
    .viewAll {
      font-size: $bodyTwoSize;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .info {
      display: block;
      font-size: $bodyTwoSize;
      font-weight: 400;
      line-height: 1;
      color: $darkGray
    }
  }
  .accordionButton {
    box-shadow: none;
    background-color: transparent;
    margin: 0;
    svg {
      transition: transform .25s ease;
    }
    &:hover {
      box-shadow: none;
    }
    &.open {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  .accordionPanel {
    grid-column: 1/6;
    &.hasDescription {
      min-height: 30px;
    }
    &.open {
      padding: 0 0 20px;
    }
    &.closed {
      &>div {
        display: block !important;
      }
    }
    .container {
      max-width: calc(100% - 350px);
      padding: 0;
      p, p span, p mark {
        font-size: 12px;
      }
    }
  }
}

