@import "../../Assets/Styles/variables";

.tabListItem {
  margin: 0 0 5px;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  .heading {
    padding: $xs $l;
  }
  .underline {
    margin-top: 8px;
    height: 1px;
    background-color: $purpleOne50;
    transition: background-color .5s ease;
  }
  &.active {
    .underline {
      margin-top: 6px;
      background: $purpleOne;
      height: 3px;
    }
  }
}