@import "../../Assets/Styles/variables";

.tabListItem {
  margin: 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  padding: $xs $l;
  position: relative;
  .underline {
    margin-top: 8px;
    height: 1px;
    background-color: $lightPurpleOne;
    transition: background-color .5s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.active {
    .underline {
      margin-top: 6px;
      background: $purpleOne;
      height: 3px;
    }
  }
  .iconContainer {
    display: flex;
  }
}