@import "../../Assets/Styles/variables";

.tabListItem {
  margin: 0 0 -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  padding: $xs $s;
  position: relative;
  color: $darkGray;
  transition: $defaultAnim;
  .underline {
    height: 2px;
    margin: 4px auto 0 auto;
    background-color: transparent;
    transition: background-color .5s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 85%;
  }
  &.active {
    color: $purpleOne;
    .underline {
      background: $purpleOne;
    }
  }
  .iconContainer {
    display: flex;
  }
}