@import "../../Assets/Styles/variables";

// Tabs
.tabs {
  width: 100%;
  padding-left: 0;
  margin: 0 auto;
  .tabList {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(175px, 1fr));
    grid-gap: 30px 10px;
    padding-bottom: 30px;

  }
  .tabContent {
    padding: 20px;
  }
}