@import "../../Assets/Styles/variables";

.lastViewedTag {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + 10px);
  color: $white;
  background-color: $purpleEdgeBG;
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%, 7.5% 50%);
  white-space: nowrap;
  height: 22px;
  padding: 0 4px 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  .text {
    font-size: 12px;
  }
}