@import "../../Assets/Styles/variables";

.lastViewedTag {
  align-self: flex-start;
  background-color: $purpleTwo;
  display: flex;
  height: 32px;
  padding: 0 0 0 5px;
  align-items: center;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
  border-top-left-radius: $defaultBorderRadius;
  border-bottom-left-radius: $defaultBorderRadius;
  transition: left .5s ease;
  z-index: 1;
  position: absolute;
  left: 4px;
  svg {
    path {
      fill: $white;
    }
  }
  &.visible {
    left: -12px;
  }
  &.inModal {
    padding-right: 8px;
    top: 51%;
    transform: translateY(-50%);
    z-index: 0;
    &.visible {
      left: -13px;
    }
  }
}