@import "../../Assets/Styles/variables";

.lastViewedTag {
  align-self: flex-start;
  background-color: $purpleTwo;
  display: flex;
  height: 32px;
  padding: 0 0 0 5px;
  align-items: center;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
  border-top-left-radius: $defaultBorderRadius;
  border-bottom-left-radius: $defaultBorderRadius;
  transition: left .5s ease;
  z-index: 0;
  position: absolute;
  left: 29px;
  svg path {
    fill: $white;
    width: 20px;
    height: 20px;
  }
  &.visible {
    left: 6px;
  }
  &.inModal {
    left: -2px;
    padding-right: 8px;
    top: 50%;
    transform: translateY(-50%);
    &.inGroup {
      left: 8px;
    }
  }
}