@import "../../Assets/Styles/variables";

.entitySearch {
  .labelContainer {
    padding: 15px 0;
  }
  .textInput {
    width: 100%;
  }
  .subTwo {
    align-items: center;
    display: inline-flex;
    position: relative;
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    color: $darkGray;
  }
  svg {
    margin-left: 4px;
  }
  .tooltip {
    font-size: 12px; 
  }
}