@import "../../Assets/Styles/variables";

.entitySearch {
  .textInput {
    width: 100%;
  }
  .subTwo {
    margin: 0;
    padding: 20px 0;
    font-weight: 700;
    font-size: 12px;
    color: $darkGray;
  }
}