   @use "@/assets/styles/variables" as *;

.publicationsTableContainer {
  display: grid;
}
.pubsTable {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin: 0 10px 10px;
  .head {
    &.snippet .headSpan, &.knowledgeLevel .headSpan {
      cursor: default;
    }
  }
  .tableItems {
    display: flex;
    flex-direction: column;
  }
  .title, .snippet, .source, .pubdate, .pValue, .link, .location, .status, .knowledgeLevel {
    text-align: left;
    justify-content: flex-start;
  }
  .source.tableCell span {
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .snippet.tableCell span {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .emphasizedSnippet {
    font-size: 12px;
  }
  .title {
    a {
      font-weight: 800;
      color: $purpleOne;
      font-size: 12px;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: color .25s ease;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .sourceName {
    font-weight: 800;
    color: $purpleOne;
    cursor: pointer;
    &.noLink {
      cursor: default;
      color: $black;
      &:hover {
        text-decoration: none;
      }
    }
      &:hover {
      text-decoration: underline;
    }
  }
}
.loadingBar {
  display: grid;
  justify-items: center;
  align-content: center;
  min-height: 100px;
  padding: 20px 0;
  grid-column: auto;
}
.noPubs {
  padding: 100px 0;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  font-weight: 800;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 $s; 
  margin: 0 $xs;
  .evidenceCount {
    margin: 0;
  }
}
.knowledgeLevelOptions {
  display: flex;
  align-items: center;
}
.knowledgeLevelLabel {
  color: $darkGray;
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.75px;
  margin-right: 20px;
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
  svg {
    margin-left: 4px;
    path {
      fill: $darkGray;
      transition: $defaultAnim;
    }
    &:hover {
      path {
        fill: $purpleOne;
      }
    }
  }
}
.knowledgeLevelButton {
  border-radius: 8px;
  background-color: $white;
  border: 1px solid $darkGray;
  color: $purpleEdgeBGSelected;
  transition: all .5s ease;
  color: #514F7E;
  font-family: $opensans;
  font-size: 15px;
  font-weight: 500;
  line-height: 1; 
  letter-spacing: 0.75px;
  padding: 8px 16px;
  margin: 0 16px 0 0;
  &.selected {
    background-color: $palePurple;
    border: 1px solid $purpleEdgeBGSelected;
    box-shadow: $dropShadowTransparent;
  }
  &:last-of-type {
    margin: 0;
  }
}
.knowledgeLevelSpan {
  font-weight: 800;
  display: block;
}