   @use "@/assets/styles/variables" as *;

.nameContainer {
  display: flex;
  align-items: center;
  .name, svg {
    margin-right: 4px;
  }
  .arrow {
    path {
      stroke: $midPurpleTwo; 
    }
  }
}