@import "../../Assets/Styles/variables";

.form {
  max-width: 70%;
  margin: 0 auto $s;
  position: relative;
  label {
    width: 100%;
    margin: 0;
  }
  button {
    margin: 0 0 0 $m;
    padding: 10px 20px;
    line-height: 20px;
  }
}

.prefix {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: auto !important;
  flex-shrink: 0;
  .prefixIcon {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }
  span {
    color: $darkGray;
    font-size: $subOneSize;
    font-weight: 700;
    margin-right: $xs;
  }
  div {
    border: none !important;  
  }
  select {
    background-color: transparent;
    color: $darkGray;
    font-size: $subOneSize;
    font-weight: 700;
    margin-right: $xs;
    text-align: right;
  }
}
