@import "../../Assets/Styles/variables";

.form {
  max-width: 980px;
  width: 100%;
  margin: 0;
  position: relative;
  height: fit-content;
  label {
    width: 100%;
    margin: 0;
  }
  button {
    margin: 0 0 0 $m;
    padding: 10px 20px;
    line-height: 20px;
  }
  input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: $largeBorderRadius;
    border-bottom-right-radius: $largeBorderRadius;
    border: none;
  }
}
.inputContainer {
  display: flex;
  align-items: center;
  .icon {
    width: 24px;
    height: 24px;    
    margin: 0 8px 0 12px;
  }
  .submitButton {
    margin: 0 8px;
    background-color: $purpleOne;
    svg path {
      stroke: $white;
    }
  }
}
.input {
  input {
    padding: 16px 0 !important;
    line-height: 22px;
    &:focus {
      outline: none;
    }
  }
}

.prefix {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: auto !important;
  flex-shrink: 0;
  .prefixIcon {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }
  span {
    color: $darkGray;
    font-size: $subOneSize;
    font-weight: 700;
    margin-right: $xs;
  }
  div {
    border: none !important;  
  }
  select {
    background-color: transparent;
    color: $darkGray;
    font-size: $subOneSize;
    font-weight: 700;
    margin-right: $xs;
    text-align: right;
  }
}
