@use "@/assets/styles/variables" as *;

.sidebarTransitionButton {
  background-color: $white;
  border: none;
  border-radius: 0;
  color: $darkGray;
  font-size: $bodyTwoSize;
  width: -webkit-fill-available;
  justify-content: space-between;
  padding: $s 0;
  margin: 0 $s;
  border-bottom: 1px solid $midGray;
  text-align: left;
  & > span {
    width: 100%;
    color: $darkGray;
    padding: 0;
    white-space: nowrap;
    font-size: $subTwoSize !important;
  }
  &:hover {
    background-color: $white;
    & > span {
      text-decoration: underline;
    }
  }
}