@use "@/assets/styles/variables" as *;

.textInputContainer {
  display: grid;
}
.errorText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $xxs;
  color: $red;
  margin: 0 0 $xs;
  font-size: $captionSize;
  &:before {
    height: $m;
    width: $m;
    content: url('@/assets/icons/status/Alerts/Info.svg');
  }
}
.textInput {
  position: relative; 
  &.disabled {
    input, textarea {
      background-color: $lightGray;
      color: $midGray;
    }
  }
  &.error {
    input, textarea {
      border-color: $red;
      background-color: $lightRed;
    }
  }
  input, textarea {
    border: 1px solid $midGray;
    font-size: $bodyOneSize;
    border-radius: $defaultBorderRadius;
    padding: 10px 12px;
    resize: none;
    line-height: 20px;
    &:focus {
      outline-style: inset;
      outline-offset: 0;
      outline-color: $purpleOne;
      outline-width: 1px;
    }
    &::placeholder {
      color: $midGray;
      font-weight: 400;
    }
  }
  &.hasIconLeft {
    input, textarea {
      padding: 10px 12px 10px 40px;
    }
  }
  &.hasIconRight {
    input, textarea {
      padding: 10px 40px 10px 12px;
    }
    &.hasIconLeft {
      input, textarea {
        padding: 10px 40px;
      }
    }
  }
  .iconContainerLeft, .iconContainerRight {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      path {
        fill: $darkGray;
      }
    }
  }
  .iconContainerLeft {
    left: 10px;
  }
  .iconContainerRight {
    right: 10px;
  }
}