@import "../../Assets/Styles/variables";

.summaryButton {
  margin-right: 0;
  img.summaryLoadingIcon, svg.summaryLoadingIcon {
    margin: 0;
    width: $m;
    height: $m;
  }
  .infoIcon {
    margin-left: 0;
    margin-right: 0;
  }
  &button {
    margin: 0 $s 0 0;
    font-size: $captionSize;
    font-weight: 800;
    padding: $xxs $xs;
  }
}