@import "../../Assets/Styles/variables";

.edge {
  height: 32px;
  &.isInferred .nameShape {
    border: none;
    svg {
      height: $l;
    }
    .border {
      display: block !important;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: -3px;
      right: 0;
      height: 100%;
      min-width: auto;
      min-height: auto;
      path {
        fill: $midPurpleTwo;
      }
    }
  }
  .nameShape .background {
    background-color: $grayPathObject;
  }
  &.isEven .nameShape .background {
    background-color: $whitePathObject;
  }

}
.pred {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 30;
  margin-right: 0;
  transition: all .25s ease;
  box-shadow: none;
  cursor: pointer;
  width: 165px !important;
  padding: 0 0 0 5px !important;
  color: $purpleTwo;
  &.hasMore {
    .more {
      font-size: 10px;
      display: flex;
      font-weight: 800;
      border-radius: 50%;
      background-color: $purpleTwo;
      color: white;
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      align-items: center;
      justify-content: center;
    }
  }
  .predLabel {
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  span {
    cursor: pointer; 
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
      text-decoration: underline;
    }
  }
  path {
    transition: all .25s ease;
  }
  &:hover {
    text-decoration: underline;
  }
}
.tooltipPredicateContainer {
  margin-bottom: $xs;
  border-bottom: 1px solid $darkGray;
  padding-bottom: 12px;
  cursor: default;
  &:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }
  .tooltipPredicate {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    svg {
      margin-left: $xxs;
      width: 18px;
      height: 18px;
      min-width: 18px;
      min-height: 18px;
      path {
        fill: $white;
      }
    } 
    span {
      font-size: $subTwoSize;
      font-weight: 800;
      line-height: 1.25;
      color: $white;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    &:last-child, &:last-child span {
      margin-bottom: 0;
    }
    &.inModal span {
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.badges {
  display: flex;
  align-items: center;
  padding-right: 6px;
  svg {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
  }
}
.supportExpansionButton {
  margin: 0 6px 0 0;
  border-radius: 50%;
  background-color: $purpleTwo;
  color: $white;
  z-index: 100;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
  svg {
    margin: 0;
    path {
      stroke: $white;
    }
  }
  .supportButtonIcon {
    display: flex;
    margin: 0;
    transform: rotate(180deg);
    z-index: 10;
    position: relative;
    border-radius: 50%;
    transition: $defaultAnim;
    width: 20px;
    svg {
      width: 20px;
      min-width: 20px;
      height: 20px;
      min-height: 20px;
    }
  }
  &.expanded {
    .supportButtonIcon {
      transform: rotate(0);
    }
    .supportConnector {
      opacity: 1;
      height: 22px;
    }
  }
  .supportConnector {
    opacity: 0;
    transition: all .35s ease;
    height: 0;
    top: 100%;
    background-color: $lightPurpleTwo;
    width: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
.evidenceIcon {
  transform: none !important;
}
.tooltipEvidenceCounts {
  display: flex;
  margin-top: $xs;
  .count {
    background-color: $palePurple;
    color: $black;
    font-size: $captionSize;
    font-weight: 400;
    padding: $xxs;
    border-radius: $defaultBorderRadius;
    margin-right: $xs;
    display: flex;
    align-items: center;
    &:last-of-type {
      margin-right: 0;
    }
    svg {
      width: 20px;
      height: 20px;
      margin: 0 2.5px 0 0;
    }
  }
}
.inModal {
  &.edge {
    background-color: transparent !important;
    border: none;
    height: 32px;
  }
  .nameShape {
    svg {
      top: 0px;
      right: 2px;
    }
  }
  &.isInferred .nameShape {
    .border {
      left: -3px;
    }
  }
}