@import "../../Assets/Styles/variables";

.pred {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 10;
  margin-right: 0;
  transition: all .25s ease;
  box-shadow: none;
  cursor: pointer;
  // svg, svg path, svg circle, svg line {
  //   transition: all .25s ease;
  //   fill: $white;
  //   margin-right: 0;
  // }
  &.hasMore {
    .more {
      font-size: 8px;
      display: flex;
      font-weight: 800;
      border-radius: 50%;
      background-color: purple;
      color: white;
      width: 16px;
      height: 16px;
      min-width: 16px;
      min-height: 16px;
      align-items: center;
      justify-content: center;
    }
  }
  .predLabel {
    padding: 0 4px;
    display: flex;
    align-items: center;
  }
  span {
    cursor: pointer; 
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
      text-decoration: underline;
    }
  }
  path {
    transition: all .25s ease;
  }
  &:hover {
    text-decoration: underline;
  }
}
.tooltipPredicate {
  margin-bottom: $xxs;
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    margin-left: $xxs;
    path {
      fill: $white;
    }
  } 
  span {
    font-size: $s;
    font-weight: 700;
    margin-bottom: $xxs;
    color: $white;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &:last-child span {
    margin-bottom: 0;
  }
  &.inModal span {
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
}
.selected {
  span.pred {
    border: 1px solid $purpleEdgeBGSelected;
    background-color: $purpleEdgeBGSelected;
    color: $white;
  }

  .predicatesList {
    margin: 0;
    list-style-type: none;
  }
}
.badges {
  display: flex;
  align-items: center;
  svg {
    width: $s;
    height: $s;
    min-width: $s;
    min-height: $s;
  }
}
.supportExpansionButton {
  margin: 0;
  border-radius: 50%;
  background-color: $purpleTwo;
  color: $white;
  z-index: 100;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
  svg {
    margin: 0;
    path {
      stroke: $white;
    }
  }
  .supportButtonIcon {
    display: flex;
    margin: 0;
    transform: rotate(180deg);
    z-index: 10;
    position: relative;
    border-radius: 50%;
    transition: $defaultAnim;
    svg {
      width: 16px;
      min-width: 16px;
      height: 16px;
      min-height: 16px;
    }
  }
  &.expanded {
    border-radius: 50%;
    .supportButtonIcon {
      transform: rotate(0);
    }
    .supportConnector {
      opacity: 1;
      height: 25px;
    }
  }
  .supportConnector {
    opacity: 0;
    transition: all .35s ease;
    height: 0;
    top: 100%;
    background-color: $lightPurpleTwo;
    width: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
.evidenceIcon {
  transform: none !important;
}