   @use "@/assets/styles/variables" as *;

.header {
  box-shadow: $dropShadow;
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: $xl;
  background-color: $white;
  padding: $s $m;
  .right, .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    img {
      height: $l;
      width: 155px;
    }
  }
  .disclaimer {
    font-size: $captionSize;
    color: $black;
    font-weight: 400;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-left: $xs;
  }
}