   @use "@/assets/styles/variables" as *;

.content {
  text-align: center;
}
.buttonsContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
  padding: 50px 0 0 0;
  .button {
    width: auto;
    margin: 0;
    &:last-child {
      background-color: $red;
    }
  }
}