@import "../../Assets/Styles/variables";

.queryTemplate {
  background-color: transparent;
  display: grid;
  justify-content: left;
  text-align: left;
  box-shadow: $dropShadow;
  width: 100%;
  padding: $m;
  span {
    display: flex;
    align-items: center;
    color: $black;
    margin-bottom: $xxs;
  }
}