@import "../../Assets/Styles/variables";

.form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  label {
    width: 100% !important;
    margin: 0;
  }
  button {
    margin: 0 0 0 $m;
    padding: 10px 20px;
    line-height: 20px;
  }
}

.prefix {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: $darkGray;
  font-size: $subOneSize;
  font-weight: 700;
  margin-right: $xs;
}

.autocompleteContainer {
  position: absolute;
  top: calc(100% + 8px);
  left: 145px;
  right: 119px;
  background-color: $white;
  box-shadow: $dropShadowHover;
  border-radius: $defaultBorderRadius;
  opacity: 0;
  pointer-events: none;
  transition: opacity .25s ease;
  &.open {
    opacity: 1;
    pointer-events: all;
  }
  img {
    display: block;
    margin: 0 auto;
    padding: 30px;
  }
  .item {
    font-size: 14px;
    font-weight: 700;
    color: $black;
    margin-bottom: 0;
    padding: 4px 12px;
    cursor: pointer;
    &:first-child {
      padding: 8px 12px 4px;
      border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;
    }
    &:last-child {
      padding: 8px 12px 4px;
      border-radius: 0 0 $defaultBorderRadius $defaultBorderRadius;
    }
    &:hover {
      color: $purpleOne;
      background-color: $lightGray;
    }
  }
  .sep {
    margin: 0 4px;
    border-bottom: 1px solid $midGray;
  }
}

