@use "@/assets/styles/variables" as *;

.backNavButton {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 10000;
  span {
    font-size: $captionSize;
  }
  svg path {
    fill: transparent !important;
  }
}