@use "@/assets/styles/variables" as *;

.optionsPane {
  position: fixed;
  background-color: $white;
  border-radius: $defaultBorderRadius;
  z-index: 1000;
  box-shadow: $dropShadow;
  button {
    background-color: transparent;
    border: none;
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: $xxs;
    span {
      color: $black;
      font-size: $bodyTwoSize !important;
      font-weight: 400 !important;
      white-space: nowrap;
      transition: $defaultAnim;
    }
    svg {
      path {
        fill: $darkGray;
      }
    }
    &:hover {
      background-color: $palePurple;
      span {
        color: $purpleOne;
      }
      svg {
        path {
          fill: $purpleOne;
        }
      }
    }
  }
}
