   @use "@/assets/styles/variables" as *;

.modalWindow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .25s ease;
  background-color: rgba(96, 99, 104, .5);
  z-index: 10000;
  &.false {
    opacity: 0;
    visibility: hidden;
    height: 0;
    pointer-events: none;
  }
  &.true {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
  .closeContainer {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 20;
    .closeButton {
      background-color: transparent;
      margin: 0;
      padding: 0;
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
      svg {
        margin: 0;
        height: $m;
        width: $m;
      }
    }
  }
  label input, label textarea {
    padding: 10px 8px;
  }
  .inner {
    height: 100%;
    position: relative;
  }
}
.modalContainer {
  background-color: $white;
  width: 824px;
  padding: $m;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  max-width: 90vw;
  overflow-y: auto;
  z-index: 100;
  border-radius: $defaultBorderRadius;
  box-shadow: $dropShadowHover;
}  