@import "../../Assets/Styles/variables";

.container {
  max-width: 640px;
  padding-top: 0;
}
.historyInner {
  display: grid;
  grid-template-rows: max-content;
  max-width: none;
  padding: 0;
  width: 100%;
  .head {
    background-color: $palePurple;
    padding: $m $m 0;
    .top {
      margin-bottom: $xs;
    }
    .top, .blurb {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 640px;
      margin: 0 auto $s;
    }
    h2 {
      font-size: 32px;
      margin: 0;
      color: $purpleTwo;
    }
    .button {
      margin: 0;
    }
  }
  .clearButton {
    padding: 4px 8px;
  }
  .noHistory {
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    // border: 1px solid $midGray;
    box-shadow: $dropShadow;
    border-radius: 10px;
    a {
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
      padding: 10px 8px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: box-shadow 0.25s ease;
      color: #ffffff;
      background-color: #662E6B;
      text-decoration: none;
      display: inline-flex;
      width: -moz-fit-content;
      width: fit-content;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
      &:hover {
        box-shadow: $dropShadowHover;
      }
    }
  }
}

.modal {
  .modalContainer {
    max-width: 685px;
  }
  .warning {
    text-align: center;
    font-size: 14px;
  } 
  .modalHeading {
    font-size: 16px; 
    color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      background: $yellow;
      border-radius: 61%;
      padding: 5px;
      margin-right: 8px;
      path {
        fill: $white;
      }
    }
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: $s;
    button {
      display: block;
      font-weight: 700;
      text-align: center;
      width: 100%;
      margin-bottom: 0;
    }
    .buttonOne {
      color: $white;
      background-color: $yellow;
      border-color: $yellow;
    }
    .buttonTwo {
      color: $darkGray;
      background-color: transparent;
      box-shadow: none;
    }
  }
  .close-container {
    display: none;
  }
}
.no-history {
  display: grid;
  grid-template-rows: min-content;
  justify-content: center;
  align-content: center;
  text-align: center;
  h6 {
    margin-bottom: $m;
    color: $darkGray;
  }
}