@import "../../Assets/Styles/variables";

.resultsHeader {
  padding-top: $s;
  margin-bottom: $s;
  @media screen and (min-width: $large) {
    grid-column: 2/3;
  }
  .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: $s;
  }
  .heading {
    color: $purpleOne;
    margin-bottom: 0;
  }
  .resultsCount {
    margin: 0;
  }
  .filterButton {
    font-size: 12px;
    padding: 4px 8px;
    margin: 0 $s 0 0;
  }
}

.activeFilters {
  margin: $s 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .filterTag {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 $s $xs 0;
    padding: 8px 4px 8px 12px;
    font-size: 12px;
    line-height: 1;
    box-shadow: $dropShadow;
    transition: $defaultBoxShadowAnim;
    border-radius: $defaultBorderRadius;
    &.negated {
      color: $red;
      span {
        color: $red;
      }
    }
    .excludeIcon {
      margin: 0 4px 0 0;
      width: $m;
      height: $m;
      path {
        fill: $red;
      }
    }
    span {
      font-weight: 700;
      color: $black;
    }
    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 4px;
      svg path {
        stroke: $midGray;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &:hover {
      box-shadow: $dropShadowHover;
      cursor:default;
    }
  }
}