@import "../../Assets/Styles/variables";

.resultsHeader {
  padding-top: $s;
  @media screen and (min-width: $large) {
    grid-column: 2/3;
  }
  .top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
  }
  .bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .heading {
    font-size: 26px;
    line-height: 1.25;
  }
}

.shareButton {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 0 0 20px;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 0;
    path {
      fill: $white;
    }
  }
}

.activeFilters {
  margin: 0 0 $s;
  .filterTag {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 $s $s 0;
    padding: 7px 4px 7px 12px;
    font-size: 14px;
    line-height: 1;
    box-shadow: $dropShadow;
    transition: $defaultBoxShadowAnim;
    border-radius: $defaultBorderRadius;
    &.negated {
      background-color: $red50;
    }
    span {
      font-weight: 700;
      color: $black;
    }
    .close {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }
    &:hover {
      box-shadow: $dropShadowHover;
      cursor:default;
    }
  }
}