@use "@/assets/styles/variables" as *;

.interiorPanelContainer {
  position: absolute;
  inset: 0 1px 0 0;
  background-color: $lightGray;
  z-index: 1000;

  .backButton {
    margin: 0;
    justify-content: flex-start;
    gap: $xxs;
    & > span {
      width: auto;
      text-align: left;
    }
  }
}