   @use "@/assets/styles/variables" as *;

// Tabs
.tabs {
  width: 100%;
  padding-left: 0;
  margin: $xs auto $m;
  position: relative;
  .tabList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 $s;
    border-bottom: 1px solid $midGray;
    padding: 0 $xl;
  }
  .tabContent {
    padding: 0px;
    display: grid;
    overflow-y: hidden;
    &.inactive {
      opacity: 0;
      pointer-events: none;
      height: 0;
      border: none;
    }
  }
  .fade {
    display: grid;
    overflow-y: hidden;
    &.inactive {
      pointer-events: none;
      height: 0;
      opacity: 0;
    }
  }
}