@use "@/assets/styles/variables" as *;

.clampedDescription {
  position: relative;
}

.text {
  margin: 0;
  line-height: 1.3;

  &.clamped {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--clamp-lines);
    line-clamp: var(--clamp-lines);
    overflow: hidden;
  }
}

.showMoreButton {
  margin-top: $xs;
  padding: 0;
  span {
    color: $purpleOne !important;
  }
  svg {
    transition: transform 0.25s ease;
    path {
      fill: $white !important;
      stroke: $purpleOne;
    }
  }

  &.open svg {
    transform: rotate(180deg);
  }
}
