@import "../../Assets/Styles/variables";

.interactablesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  transition: $defaultAnim;
  z-index: 10;
  &.belowBreakpoint {
    grid-template-columns: 1fr;
    gap: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 34px;
    box-shadow: $dropShadow;
    border-radius: $defaultBorderRadius;
    background-color: $lightGray;
    .icon {
      height: auto;
      padding: 12px;
      display: grid;
      align-items: center;
      justify-content: flex-start;
      width: auto;
      border-radius: 0;
      .label {
        display: block;
        opacity: 0;
        padding-left: 28px;
      }
      svg {
        left: 12px;
        transform: translateY(-50%);
      }
      &:first-child {
        border-top-left-radius: $defaultBorderRadius;
        border-top-right-radius: $defaultBorderRadius;
      }
      &:last-child {
        border-bottom-left-radius: $defaultBorderRadius;
        border-bottom-right-radius: $defaultBorderRadius;
      }
    }
    &.isOpen {
      opacity: 1;
      pointer-events: all;
      .label {
        opacity: 1;
      }
    }
  }
  &.even {
    .icon {
      background-color: $white;
    }
  }
}
.interactables {
  position: relative;
  .icon {
    border-radius: $defaultBorderRadius;
    background-color: $lightGray;
    cursor: pointer;
    position: relative;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $defaultAnim;
    svg {
      opacity: 1;
    }
    .bookmarkFilledSVG, .notesFilledSVG {
      opacity: 0;
    }
    &:hover {
      background-color: $transparentPurpleHover !important;
      color: $purpleOne;
      svg path {
        fill: $purpleOne;
      }
    }
    &.filled {
      svg {
        opacity: 0;
      }
      .bookmarkFilledSVG, .notesFilledSVG {
        opacity: 1;
      }
    }
    svg {
      height: 24px;
      width: 24px;
      transition: $defaultAnim;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      path {
        stroke-width: 0;
        transition: all .25s ease;
      }
    }
    .label {
      display: none;
    }
  }
  .bookmarkIcon {
    svg path {
      fill: $black;
    }
  }
  &.even {
    .icon {
      background-color: $white;
    }
  }
}