@use "@/assets/styles/variables" as *;

.faqPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: $s;
  padding: $s;
  .accordion {
    padding: 0 0 $s;
    border-bottom: 1px solid $midGray;
    &:last-child {
      border-bottom: none;
    }
  }
  .accordionButton {
    text-align: left;
    font-weight: 800;
    font-size: $subTwoSize;
    color: $black;
    width: 100%;
    gap: $xs;
  }
  .accordionPanel {
    & > div {
      padding: $xs 0 0;
    }
    p, span, mark {
      font-size: $captionSize;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .content {
    display: grid;
    gap: $s;
  }
  .searchInput {
    margin: 0;
  }
  .caption {
    margin: 0;
  }
}