   @use "@/assets/styles/variables" as *;

.sticky {
  background-color: $white;
  padding: $xs;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  width: calc(100% - 16px);
  margin: 0 0 0 auto;
  transition: $defaultAnim;
  z-index: 100;
  min-height: 34px;
  display: flex;
  align-items: center;
  button {
    margin-bottom: 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    width: 100%;
  }
  &.showText {
    .container > div {
      opacity: 1;
      width: auto;
    }
  }
  &.inactive {
    opacity: 0;
    pointer-events: none;
  }
}
