@use '@/assets/styles/variables' as *;

.cardName {
  display: grid;
  align-items: center;
  gap: $xxs;
  .icon {
    display: flex;
    align-items: center;
    height: 18px;
    svg {
      height: 18px;
      width: 18px;
      margin-right: $xxs;
    }
    .iconText {
      font-size: $overlineSize;
      font-weight: 800;
      color: $darkGray;
      letter-spacing: 10%;
      text-transform: uppercase;
    }
  }
  .projectTitle {
    color: $black;
    font-size: $subOneSize;
    font-weight: 800;
    display: flex;
    align-items: center;
  }
  .itemCount {
    font-size: $bodyTwoSize;
  }
  .infoIcon {
    height: 20px;
    width: 20px;
    margin-left: $xxs;
  }
}
