@import "@/assets/styles/variables";

.support {
  transition: all .35s ease !important;
  display: inline-table;
  &.closed {
    border: 0px solid transparent;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  &.nested {
    background-color: $lightPurpleTwo;
    border-color: $midPurpleTwo;
  }
  .supportLabel {
    font-size: 14px;
    color: $purpleTwo;
    font-weight: 800;
    margin-bottom: $s;
  }
}
.paginationContainer {
  display: grid;
  padding: 12px;
  margin: 16px -1px -1px -1px;
  background-color: $white;
  border: 1px solid $lightPurpleTwo;
  border-top-color: $midPurpleTwo;
  border-radius: $defaultBorderRadius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}