   @use "@/assets/styles/variables" as *;

.loadingButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $s;
  span {
    white-space: nowrap;
  }
  .refreshDisclaimer, .loadingButton {
    opacity: 0;
    transition: $defaultAnim;
    pointer-events: none;
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .refreshDisclaimer {
    font-size: $captionSize;
    margin: 0;
    color: $darkGray;
  }
  .left {
    display: grid;
  }
  .right {
    display: flex;
    align-items: center;
  }
  .tooltipInner {
    white-space: normal;
    .bold {
      font-weight: 800;
      font-size: $bodyTwoSize;
      margin-bottom: $xxs;
    }
  }
  .checkbox {
    display: flex;
    align-items: flex-start;
    input {
      margin: 0 $xxs 0 0;
    }
  }
  .close {
    position: absolute;
    top: $xxs;
    right: $xxs;
    cursor: pointer;
    path {
      stroke: $white;
    }
  }
}
.loadPercentage {
  font-size: $captionSize;
  font-weight: 800;
  color: $lightPurpleOne;
}
.resultsAvailable {
  font-size: $captionSize;
  font-weight: 800;
  color: $purpleOne;
}
.loadingButtonIcon {
  height: $m;
  width: $m;
}
.complete {
  margin: 0 auto;
  display: flex;
  align-items: center;
  cursor: default;
  span {
    text-align: center;
    font-size: $bodyOneSize;
    color: $purpleOne;
    line-height: 1;
    padding: $xxs;
    font-weight: 800;
  }
  svg path {
    fill: $purpleOne;
  }
}
.loadingButtonIcon {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
  margin-right: 10px;
}
.loadingButton {
  pointer-events: none;
  box-shadow: none;
  cursor: default;
  margin-bottom: 0;
  padding: $xs;
  font-size: $captionSize;
  background-color: $purpleOne;
  position: relative;
  &.active {
    cursor: pointer;
    pointer-events: all;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    text-decoration: underline;
    box-shadow: none;
  }
  svg path {
    fill: $white;
  }
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}