@import "../../Assets/Styles/variables";

.loadingBar {
  padding: 0 0 200px;
  grid-column: 1/3;
  text-align: center;
  &.reducedPadding {
    padding: 20px 0;
  }
  .barOuter {
    position: relative;
    border-radius: 5px;
    border: 1px solid $midGray;
    max-height: 40px;
    line-height: 1;
    padding: 4px;
    .barInner {
      height: 32px;
      width: 25%;
      background-color: $purpleTwo;
      border-radius: 2px;
      transition: width .5s ease, opacity 2.5s ease;
      &.dark {
        opacity: 1;
      }
      &.light {
        opacity: .2;
      }
    }
  }
  .loadingIcon {
    width: 48px;
    height: 48px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
  }
  .heading {
    text-align: center;
    color: $purpleOne;
    font-weight: 700;
    font-size: 20px;
  }
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}