   @use "@/assets/styles/variables" as *;

.facetContainer {
  margin-bottom: 4px;
  background-color: $white;
  border: 1px solid $midGray;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  transition: $defaultAnim;
  input {
    margin: 0;
  }
  svg path {
    stroke: transparent !important;
    fill: $midGray;
  }
  .negative {
    &:hover {
      input + span {
        &+span {
          background-color: $white;
          svg path {
            fill: $red;
          }
        }
      }
    }
  }
  .positive {
    &:hover {
    input + span {
        &+span {
          background-color: $white;
          svg path {
            fill: $green;
          }
          &:hover {
            background-color: $white;
            svg path {
              fill: $green;
            }
          }
        }
      }
    }
  } 
  .positiveChecked, .negativeChecked {
    svg {
      path {
        fill: $white !important;
      }
    }
    &:hover {
      svg {
        path {
          fill: $white !important;
        }
      }
    }
  }
  .positiveChecked {
    background-color: $green !important;
    border-right-color: $green;
  }
  .negativeChecked {
    background-color: $red !important;
  }
  input + span span, .facetCount {
    color: $black;
    font-size: 12px;
    font-weight: 800;
  }
  input + span {
    position: relative;
    width: 100%;
    padding: 12px 45px 12px 12px;
    margin-right: 6px;
  }
  label.checkbox {
    width: 100%;
  }
  label.checkbox span + span {
    height: 100%;
    min-width: 40px;
    border-top: none;
    border-right: 1px solid $midGray;
    border-bottom: none;
    border-left: 1px solid $midGray;
    border-radius: 0px;
  }
  label.negative {
    width: min-content;
    input {
      display: none;
      &+span {
        display: none;
      }
    }
    span + span {
      border: none;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }
  }
  .facetCount {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none !important;
    color: $darkGray !important;
    a {
      margin-left: 2px;
      display: flex;
    }
    svg path {
      fill: $black;
    }
  }
  .tagName {
    line-height: 15px;
    max-width: 102px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  .checkbox {
    margin-bottom: 0;
  }
  .extLinkIcon {
    width: 16px;
    height: 16px;
  }
}