@import "../../Assets/Styles/variables";

.query {
  padding: $m 0 0 0;
  background-color: $white;
  box-shadow: $dropShadow;
  margin-bottom: $l;
  border-radius: $largeBorderRadius;
  .topBar {
    display: grid;
    grid-template-columns: 1.25fr 125px 25px;
    column-gap: $xxs;
    align-items: center;
    justify-content: space-between;
    padding: 0 $m;
    .heading, .link {
      margin: 0;
    }
    .headingContainer {
      display: grid;
    }
    .heading {
      font-size: 20px;
      font-weight: 700;
      color: $darkGray;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      & > span {
        margin-left: 5px;
      } 
      span, mark {
        font-size: 20px;
        font-weight: 700;
        color: $purpleOne;
      }
    }
    .numSaves {
      margin: 0;
      text-align: right;
      font-size: 12px;
      font-weight: 700;
      color: $purpleOne;
      cursor: default;
    }
  }
  .bottomBar {
    display: flex;
    align-items: flex-end;
    margin-top: $xxs;
    margin-bottom: $m;
    padding: 0 $m;
    .date {
      display: flex;
      margin-right: 16px;
      margin-bottom: 0;
      span {
        font-size: 12px;
        font-weight: 400;
        color: $darkGray;
      }
    }
    .link {
      font-size: 12px;
      color: $purpleOne;
      svg path {
        fill: $purpleOne;
      }
    }
  }
  .accordionButton {
    display: flex;
    justify-self: flex-end;
    padding: 0;
  }
}

.result {
  &:nth-child(odd){
    background-color: $lightGray;
  }
  &:first-child {
    background-color: $purpleTwo;
  }
}

.tableHead {
  border-bottom: 1px solid $midGray;
  display: grid;
  padding: 12px $s;
  user-select: none;
  grid-template-columns: 1fr 112px 110px 90px 90px 24px;
  column-gap: $s;
  background-color: $purpleTwo;
  .head {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 10px;
    font-weight: 800;
    line-height: 1.25;
    text-transform: uppercase;
    color: $white;
    width: min-content;
  }
  .checkboxContainer {
    display: none;
    label {
      margin: 0;
    }
  }
  .nameHead {
    text-align: left;
  }
  .fdaHead {
    cursor: default;
    position: relative;
  }
  .fdaHead, .evidenceHead, .scoreHead, .pathsHead, .nameHead {
    svg {
      margin-left: 2px;
      width: 24px;
      height: 24px;
      circle {
        stroke: $white;
      }
      circle:last-child {
        fill: $white;
      }
      path {
        fill: $white;
      }
    }
  }
  .scoreSpan {
    font-size: 12px;
    text-transform: none;
  }
  .nameHead, .evidenceHead, .scoreHead, .pathsHead {
    &:hover {
      cursor: pointer;
    }
    .chev {
      display: none;
    }
    &.true, &.false {
      position: relative;
      .chev {
        display: block;
        width: 24px;
        height: 24px;
        transition: $defaultAnim;
        path {
          fill: transparent;
          stroke: $white;
        }
      }
    }
    &.false {
      .chev {
        transform: rotate(180deg);
      }
    }
  }
}