@import "@/assets/styles/variables";

label.radio {
  display: flex;
  align-items: center;
  margin-bottom: $s;
  width: fit-content;
  &:hover, &:focus {
    cursor: pointer;
  } 
  .box {
    display: grid;
    place-content: center;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: .5s transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: $white;
    border: 1px solid $darkGray;
    transition: $defaultBoxShadowAnim;
    &:before {
      content: "";
      width: 10px;
      height: 10px;
      opacity: 0;
      transition: all .25s ease ;
      background-color: $darkGray;
      border-radius: 50%;
    }
  }
  &.checked {
    .box {
      &:before {
        opacity: 1;
      }
    }
  }
  input[type="radio"], input[type="checkbox"] {
    height: 0;
    width: 0;
    opacity: 0;
  }
  &:hover {
    .box:before {
      opacity: 1;
    }
  }
}