@import "../../Assets/Styles/variables";

// Range
.rangeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: $m;
  width: 100%;
  .rangeTrack {
    background-color: $purpleOne;
    height: 3px;
    width: 80%;
    z-index: 20;
  }
  .thumbContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .thumb {
      width: 16px;
      height: 16px;
      background: $purpleOne;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      -webkit-appearance: none;
    }
    .value {
      position: absolute;
      top: 16px;
      color: $purpleOne;
      font-weight: bold;
      font-size: 10px;
      padding: 0;
      border-radius: 4px;
    }
  }

  .min,.max,.value {
    font-size: $overlineSize;
    font-weight: 800;
  }
  .min {
    margin-right: 5px;
    padding-right: $xs;
    position: relative;
    z-index: 0;

    &:after {
      position: absolute;
      content: '';
      height: $xs;
      width: $xs;
      background-color: $purpleOne;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
  }
  .max {
    margin-left: $xxs;
    padding-left: $xs;
    position: relative;
    z-index: 0;

    &:before {
      position: absolute;
      content: '';
      height: $xs;
      width: $xs;
      background-color: $darkGray;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      left: -5px;
    }
  }
  &.twoThumb {
    .min {
      &::after {
        left: 24px; 
        background-color: $darkGray;
      }
    }
  }
}
