@use "@/assets/styles/variables" as *;

.labelWithIcon {
  display: inline-flex;
  align-items: center;
  gap: $xs;
}

.icon {
  display: inline-flex;
  flex-shrink: 0;

  svg {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
  }
}
