@use "@/assets/styles/variables" as *;
.helpPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: $s;
  .top {
    padding: $s $s 0 $s;
    .searchInput {
      margin: 0;
    }
  }
  .activePanel {
    .activePanelContent {
      padding: $s;
      p, a, span, mark, strong {
        font-size: $bodyTwoSize;
      }
    }
  }

}