@import "./variables";

* {
  margin-top: 0;
  font-family: $overpass;
  font-size: $bodyOneSize;
}

h1, .h1 {
  font-size: $h1Size;
  margin-bottom: .5em;
}
h2, .h2 {
  font-size: $h2Size;
  margin-bottom: .5em;
}
h3, .h3 {
  font-size: $h3Size;
  margin-bottom: .5em;
}
h4, .h4 {
  font-size: $h4Size;
  margin-bottom: .5em;
}
h5, .h5 {
  font-size: $h5Size;
  margin-bottom: .5em;
}
h6 , .h6 {
  font-size: $h6Size;
  margin-bottom: .5em;
}

p, .p {
  font-size: $bodyOneSize; 
  margin-bottom: 1em;
}
.body-one {
  font-size: $bodyOneSize; 
}
.body-two {
  font-size: $bodyTwoSize; 
}
.sub-one {
  font-size: $subOneSize; 
}
.sub-two {
  font-size: $subTwoSize; 
}
.button, button {
  font-size: $buttonSize;
}
.caption {
  font-size: $captionSize;
}
.overline {
  font-size: $overlineSize;
}