@use "@/assets/styles/variables" as *;

.queriesPanel {
  .queriesList {
    display: flex;
    flex-direction: column;
    gap: $xs;
  }
  .projectListContainer {
    position: absolute;
    top: -$s;
    right: 1px;
    bottom: 0;
    left: 0;
    background-color: $lightGray;
  }
  .closeProjectListButton {
    background-color: $white;
    border-bottom: 1px solid $midGray;
    padding: $s;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    span {
      color: $darkGray;
      font-size: $bodyTwoSize;
    }
    svg path {
      fill: $white;
      stroke: $darkGray;
    }
  }
  .projectsList {
    padding: $s;
  }
}