@use '@/assets/styles/variables' as *;

.projectList {
  position: relative;
  .createNewProjectButton {
    position: absolute;
    top: $xxs;
    right: $xl;
    z-index: 10;
    padding: 0;
    span {
      padding: 0;
      font-size: $captionSize;
    }
  }
}