@use "@/assets/styles/variables" as *;

.breadcrumbLink {
  color: $purpleOne;
  text-decoration: none;
  transition: $defaultAnim;
  font-size: $captionSize;
  &:hover {
    text-decoration: underline;
  }
}

.current {
  color: $darkGray;
  font-size: $captionSize;
}