   @use "@/assets/styles/variables" as *;

.ResultListLoadingBar {
  margin: 0;
  width: 100%;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    svg {
      min-width: 24px;
      height: 24px;
    }
  }
  .loadingText {
    color: $darkGray;
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 0 6px;
    svg {
      margin-left: 4px;
    }
  }
  .loadingBarContainer {
    background-color: $midGray;
    height: 4px;
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    .fill {
      height: 100%;
      width: 50%;
      background-color: $purpleOne;
      transition: all 2000ms ease-in-out;
      &.fade {
        background-color: $lightPurpleOne;
      }
    }
  }
}