@import "../../Assets/Styles/variables";

// Checkbox 
label.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: $s;
  &:hover, &:focus {
    cursor: pointer;
    .circle {
      box-shadow: $dropShadowHover;
      &.hasIcon {
        box-shadow: none;
        svg path {
          fill: $white;
        }
      }
    }
  } 
  .circle {
    display: grid;
    justify-content: center;
    align-items: center;
    place-content: center;
    width: 25px;
    height: 25px;
    border-radius: 2.5px;
    transition: .5s transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: $white;
    border: 1px solid $darkGray;
    transition: $defaultAnim;
    &:before {
      display: grid;
      place-content: center;
      content: '\2713';
      color: $white;
      width: 18px;
      height: 18px;
      border-radius: 2.5px;
      background-color: $purpleOne;
      transition: all .25s ease ;
      opacity: 0;
    }
    &.hasIcon {
      svg {
        height: 20px;
        width: 21px;
        path {
          fill: $midGray;
          transition: $defaultAnim;
        }
      }
      &:before {
        display: none;
      }
    }
  }
  &:hover, &:focus {
    cursor: pointer;
    .circle {
      box-shadow: $dropShadowHover;
      &:before {
        opacity: 1;
      }
      &.hasIcon {
        box-shadow: none;
      }
    }
  } 
  &.checked {
    .circle.hasIcon {
      svg path {
        fill: $white;
      }
    }
  }
  input[type="radio"], input[type="checkbox"] {
    height: 0;
    width: 0;
    opacity: 0;
  }
}