@import "../../Assets/Styles/variables";

label.radio {
  display: flex;
  align-items: center;
  margin-bottom: $s;
  &:hover, &:focus {
    cursor: pointer;
    .circle {
      box-shadow: $dropShadowHover;
    }
  } 
  .circle {
    display: grid;
    place-content: center;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: .5s transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: $white;
    border: 1px solid $darkGray;
    transition: $defaultBoxShadowAnim;

    &:before {
      content: "";
      width: 18px;
      height: 18px;
      opacity: 0;
      transition: all .25s ease ;
      background-color: $purpleOne;
      border-radius: 50%;
    }
  }
  &.checked {
    .circle {
      &:before {
        opacity: 1;
      }
    }
  }
  input[type="radio"], input[type="checkbox"] {
    height: 0;
    width: 0;
    opacity: 0;
  }
}