   @use "@/assets/styles/variables" as *;

.filterTag {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 $s $xs 0;
  padding: 8px 4px 8px 12px;
  font-size: 12px;
  line-height: 1;
  box-shadow: $dropShadow;
  transition: $defaultBoxShadowAnim;
  border-radius: $defaultBorderRadius;
  &.negated {
    color: $red;
    span {
      color: $red;
    }
  }
  .excludeIcon {
    margin: 0 4px 0 0;
    width: $m;
    height: $m;
    path {
      fill: $red;
    }
  }
  span {
    font-weight: 800;
    color: $black;
  }
  .close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    svg path {
      stroke: $midGray;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    box-shadow: $dropShadowHover;
    cursor:default;
  }
}