   @use "@/assets/styles/variables" as *;

.queryPathfinder {
  height: 100%;
  position: relative;
  &.results {
    padding: $l $m;
    background-color: $palePurple;
  }
  &.disabled {
    .submitButton {
      background-color: $lightGray;
      border-color: $lightGray;
      cursor: default;
      pointer-events: none;
      svg {
        margin-left: 0;
        height: 24px;
        width: 24px;
        path {
          stroke: $midGray;
        }
      }
    }
  }
  .blurb {
    margin-bottom: $xxs;
  }
  &.results {
    .container {
      padding: $l 0;
    }
  }
  .buttons {
    display: flex;
    gap: $s;
    margin-bottom: $s;
    .button {
      font-size: $captionSize;
      padding: $xxs $xs;
      svg {
        margin-left: 0;
        margin-right: $xxs;
      }
    }
    .middleTypeButton {
      .infoIcon {
        margin-right: 0;
        margin-left: $xxs;
      }
    }
  }
  .error {
    color: $red;
    text-align: center;
  }
}
.container, .form {
  margin: 0 auto;
}
.h3 {
  color: $purpleTwo;
  margin-bottom: 8px;
  line-height: 60px;
  text-align: center;
}
.h6 {
  color: $darkGray;
  margin-bottom: $m;
  line-height: 25px;
  text-align: center;
}
.dividerIcon {
  height: 24px;
  width: 24px;
}
.form {
  display: grid;
  grid-template-columns: 1fr $m $l $m 1fr 40px;
  gap: $xs;
  align-items: center;
  box-shadow: $dropShadow;
  border-radius: $largeBorderRadius;
  padding: $xs;
  background-color: $white;
  margin-bottom: 0;
  max-width: 910px;
  position: relative;
  &.hasMiddleType {
    grid-template-columns: 1fr $m $l 140px $m 1fr 40px;
  }
  .middleTypeSelector {
    margin: 0;
    select {
      padding: $xs 12px $xs 0;
    }
    & > div {
      border: none;
      box-shadow: none !important;
      & > div {
        top: calc(100% + 9px) !important;
        max-height: 265px;
        overflow: auto !important;
        scrollbar-width: none;
      }
    }
  }
  .input {
    margin: 0;
    width: 100%;
    padding: 8px 12px;
    &.selected {
      input {
        font-weight: 400;
      }
    }
    input {
      border: none;
      outline: none;
    }
    svg path {
      fill: $darkGray;
    }
  }
  .submitButton {
    margin: 0;
    border: none;
    padding: $xs;
    svg {
      height: 24px;
      width: 24px;
      path {
        stroke: $white;
      }
    }
  }
  .close {
    background-color: transparent;
    padding: 0;
    svg {
      width: 24px;
      height: 24px;
      path {
        fill: $darkGray;
      }
    }
  }
}