@import "@/assets/styles/variables";

.queryPathfinder {
  height: 100%;
  position: relative;
  .blurb {
    margin-bottom: $xxs;
  }
  .container {
    padding: $l $m $m;
    max-width: 928px;
    width: auto;
  }
  &.results {
    .container {
      padding: $l 0;
    }
  }
  .buttons {
    .button {
      font-size: $captionSize;
      padding: $xxs $xs;
      svg {
        margin-left: 0;
        margin-right: $xxs;
      }
    }
    .middleTypeButton {
      .infoIcon {
        margin-right: 0;
        margin-left: $xxs;
      }
    }
  }
  .loadingIcon {
    opacity: 0;
    transition: all .25s ease;
    margin-right: 0;
    margin-left: 10px;
    width: $l;
    height: $l;
    position: absolute;
    top: 14px;
    right: -40px;
    &.active {
      opacity: 1;
    }
  }
  .error {
    color: $red;
    text-align: center;
  }
  .showingResultsContainer {
    max-width: 640px;
    margin: 0 auto;
    .subHeading {
      color: $black;
      font-weight: 800;
      font-size: 20px;
    }
    .searchedTerm {
      color: $purpleOne;
      font-weight: 800;
      font-size: 20px;
      margin: 0 4px;
      display: inline-flex;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
        path {
          fill: $purpleOne;
        }
      }
    }
    .shareButton {
      font-size: 12px;
      padding: 4px 8px;
    }
  }
}
.container, .form {
  margin: 0 auto;
}
.h3 {
  color: $purpleTwo;
  margin-bottom: 8px;
  line-height: 60px;
  text-align: center;
}
.h6 {
  color: $darkGray;
  margin-bottom: $m;
  line-height: 25px;
  text-align: center;
}
.dividerIcon {
  height: 24px;
  width: 24px;
}
.form {
  display: grid;
  grid-template-columns: 1fr 18px 1fr 40px;
  column-gap: $xs;
  align-items: center;
  box-shadow: $dropShadow;
  border-radius: $largeBorderRadius;
  padding: $xs;
  background-color: $white;
  margin-bottom: 0;
  max-width: 910px;
  position: relative;
  &.hasMiddleType {
    grid-template-columns: 1fr 18px 140px 18px 1fr 40px;
  }
  .middleTypeSelector {
    margin: 0;
    select {
      padding: $xs 12px;
    }
    & > div {
      border: none;
      box-shadow: none !important;
      & > div {
        top: calc(100% + 9px) !important;
        max-height: 265px;
        overflow: auto !important;
        scrollbar-width: none;
      }
    }
  }
  .inputContainer {
    position: relative;
    display: flex;
  }
  .input {
    margin: 0;
    width: 100%;
    padding: 8px 12px;
    &.selected {
      input {
        font-weight: 400;
      }
    }
    input {
      border: none;
      outline: none;
    }
    svg path {
      fill: $darkGray;
    }
  }
  .submitButton {
    margin: 0;
    border: none;
    background-color: $purpleOne;
    svg {
      height: 24px;
      width: 24px;
      path {
        stroke: $white;
      }
    }
  }
  .close {
    background-color: transparent;
    padding: 0;
    svg {
      width: 24px;
      height: 24px;
      path {
        fill: $darkGray;
      }
    }
  }
}