   @use "@/assets/styles/variables" as *;

.fadeText {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 0 0 0 $s;
  &.small {
    height: 18px;
    margin: 0;
  }
  &.centerText {
    & > span {
      text-align: center;
    }
  }
  & > span {
    transition: opacity 1.5s ease;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    color: $purpleOne;
    font-size: 20px;
    font-weight: 800;
  }
  &.small > span {
    font-size: 16px;
    text-align: left;
  }
  .visible {
    opacity: 1;
  }
  .hidden {
    opacity: 0;
  }
}