@import "../../Assets/Styles/variables";

.support {
  transition: all .35s ease !important;
  &.closed {
    border: 0px solid transparent;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .supportLabel {
    font-size: 14px;
    color: $purpleTwo;
    font-weight: 800;
    margin-bottom: $s;
    padding-left: 12px;
  }
}
.paginationContainer {
  display: grid;
  padding: 12px;
  margin: 16px -16px 0 -16px;
  background-color: $white;
  border-top: 1px solid $midPurpleTwo;
}