@import "@/assets/styles/variables";


.pageHeading {
  text-align: center;
  margin: $xxl 0 $l 0;
  font-size: $h3Size;
  font-weight: 800;
  color: $purpleTwo;
}

.homePageContent {
  .container {
    padding: 0;
    max-width: $mediumLarge;
  }
  .heading {
    text-align: center;
    margin-bottom: $m;
    color: $purpleTwo;
  }
  .noMargin {
    margin: 0;
  }
  .section {
    padding: $xxl 0;
  }
  .section:nth-of-type(odd){
    background-color: $lightGray;
  }
  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $xs;
    justify-content: space-between;
    align-items: center;
    .image {
      width: 100%;
      height: 100%;
    }
  }
  .threeCol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $m;
  }
  .twoCol {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: $l;
    @media screen and (min-width: $desktop) {
      gap: $xxl;
    }
  }
  .colTwo {
    a {
      text-decoration: none;
      color: $purpleOne;
      font-weight: 800;
      font-size: $bodyOneSize;
      margin: 0 0 $s;
      display: flex;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .collaborators {
    text-align: center;
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: $xs;
    img {
      height: 100%;
      margin-bottom: $m;
    }
  }
}
