@import "@/assets/styles/variables";


.pageHeading {
  text-align: center;
  margin: $xxl 0 $l 0;
  font-size: $h3Size;
  font-weight: 800;
  color: $purpleTwo;
}

.homePageContent {
  .container {
    padding: 0;
    max-width: $desktop;
  }
  .noMargin {
    margin: 0;
  }
  .section {
    padding: $xxl 0;
  }
  .section:nth-of-type(odd){
    background-color: $lightGray;
  }
  .images {
    display: grid;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
    .arrow {
      height: 100px;
      min-width: 100px;
      transform: rotate(90deg); 
      margin: 0 auto;
      @media screen and (min-width: $desktop) {
        transform: none;
        margin: 0;
      }
      path {
        fill: $purpleOne;
      }
    }
    .image {
      width: auto;
      margin: 0 auto;
      @media screen and (min-width: $desktop) {
        margin: 0;
      }
    }
  }
  .workflowHeadings {
    display: none;
    align-items: center;
    margin-top: 20px;
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
    .heading {
      width: 390px;
      text-align: center;
      &:first-of-type, &:last-of-type {
        width: 360px;
      }
    }
  }
  .threeCol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $m;
  }
  .twoCol {
    display: grid;
    grid-template-columns: 7fr 5fr;
    column-gap: $m;
  }
  .colTwo {
    ul li {
      font-weight: 800;
      a {
        text-decoration: none;
        color: $black;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .collaborators {
    text-align: center;
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: $xs;
    img {
      height: 100%;
      margin-bottom: $m;
    }
  }
}
