   @use "@/assets/styles/variables" as *;

.helpSidebarContainer {
  background-color: $lightGray;
  padding: $s;
  .links {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      &.active >a, .links li.active {
        background-color: $palePurple;
        color: $purpleOne;
      }
    }
    .subLinks {
      .navLink {
        font-weight: 400;
      }
    }
  }
  .accordion {
    a {
      padding: 8.5px 8px;
    }
    button {
      display: flex;
    }
  }
  .accordionPanel {
    padding: 0 0 0 $s;
  }
  .navLink {
    margin: 0;
    background-color: transparent;
    text-decoration: none;
    color: $black;
    font-size: 14px;
    font-weight: 800;
    padding: 11px 8px;
    display: flex;
    align-items: center;
    svg {
      transform: none !important;
      margin-left: 4px;
      min-width: 20px;
      width: 20px;
      height: 20px;
      path {
        stroke: transparent;
      }
    }
  }
}
