@use "@/assets/styles/variables" as *;

.projectsPanel {
  &.selectionModeActive {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .paddedProjectsList {
    padding: $s 15px calc($xl *2) $s;
    background-color: $lightGray;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
  }
}