@import "@/assets/styles/variables";

// Checkbox 
label.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: $s;
  width: fit-content;
  &:hover, &:focus {
    cursor: pointer;
    .box {
      box-shadow: $dropShadowHover;
      &.hasIcon {
        box-shadow: none;
      }
    }
  } 
  .box {
    display: grid;
    justify-content: center;
    align-items: center;
    place-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2.5px;
    transition: .5s transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: $white;
    border: 1px solid $darkGray;
    transition: $defaultAnim;
    &.hasIcon {
      svg {
        height: 24px;
        width: 24px;
        path {
          stroke: $white;
          transition: $defaultAnim;
        }
      }
      &:before {
        display: none;
      }
    }
  }
  &:hover, &:focus {
    cursor: pointer;
    .box {
      background-color: $darkGray;
      &:before {
        opacity: 1;
      }
      &.hasIcon {
        box-shadow: none;
      }
    }
  } 
  &.checked {
    .box.hasIcon {
      background-color: $darkGray;
    }
  }
  input[type="radio"], input[type="checkbox"] {
    height: 0;
    width: 0;
    opacity: 0;
  }
}