   @use "@/assets/styles/variables" as *;

.layoutContainer {
  padding-bottom: $s;
}

.layoutButtonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $xs;
  margin-bottom: $xs;
}

.layoutButton {
  margin: 0;
  &.active {
    background-color: $purpleOne;
    color: $white;
    &:hover {
      background-color: $purpleTwo;
    }
  }
}

.layoutHeader {
  color: $black;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: $xs;
}
