   @use "@/assets/styles/variables" as *;

.layoutContainer {
  padding-bottom: $s;
}

.layoutButton {
  background-color: $white;
  color: $darkGray;
  transition: all .25s ease;
  margin: 0 $xs $xs 0;
  &.active {
    background-color: $blueOne;
    color: $white;
  }
}

.layoutHeader {
  color: $black;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: $xs;
}
