@use '@/assets/styles/variables' as *;

.resultDownloadPanelInner {
  display: grid;
  align-content: space-between;
  height: 100%;
  gap: $l;
  .top {
    display: flex;
    flex-direction: column;
    gap: $m;
  }
  .description {
    font-size: $captionSize;
    color: $darkGray;
    margin: 0;
  }
  .section {
    display: flex;
    flex-direction: column;
    gap: $xxs;
  }
  .sectionSubtitle {
    font-size: $bodyOneSize;
    font-weight: 600;
    color: $black;
    margin: 0;
  }
  .sectionDescription {
    font-size: $captionSize;
    color: $darkGray;
    margin: 0;
  }
  .radioGroup {
    display: flex;
    flex-direction: column;
    gap: $xxs;
    margin-top: $xs;
    // Remove default bottom margin from Radio component
    label {
      margin-bottom: 0;
    }
  }
  .radioLabel {
    display: flex;
    flex-direction: column;
    margin-left: $xs;
    font-size: $bodyTwoSize;
    .count {
      font-size: $captionSize;
      color: $darkGray;
      margin-left: $xxs;
    }
  }
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: $s;
    padding-top: $m;
    border-top: 1px solid $lightGray;
  }
  .downloadButton {
    width: 100%;
    justify-content: center;
  }
}
