@use '@/assets/styles/variables' as *;

$statusSize: 18px;

.status {
  position: relative;
  display: flex;
  height: $statusSize;
  width: $statusSize;
  border-radius: 100%;
  color: $white;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $statusSize;
    height: $statusSize;
    path {
      stroke: $white;
    }
  }
  div.loadingIcon {
    width: 14px;
    height: 14px;
    min-height: 14px;
    min-width: 14px;
    margin-bottom: 0;
  }
}
.statusRunning {
  > div {
    margin-bottom: 0;
  }
}
.statusSuccess {
  background: $green;
  &.status {
    svg path {
      fill: transparent !important;
    }
  }
}
.statusError {
  background: $red;
}
.statusWarning {
  background: $yellow;
  svg {
    path {
      stroke: transparent;
      fill: $white;
    }
  }
}
.statusNoQueries, .statusNoResults {
  background: $lightPurpleTwo;
}
.statusUnknown {
  background: $midGray;
}
.statusIndicator {
  position: relative;
  &.redDot {
    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      border: 1.5px solid $lightGray;
      background-color: $red;
      z-index: 10;
    }
  }
  .tooltipHeading {
    font-size: $bodyTwoSize;
    font-weight: 800;
    margin: 0 0 $xxs;
  }
}