@use '@/assets/styles/variables' as *;

$statusSize: 18px;

.status {
  position: relative;
  display: flex;
  height: $statusSize;
  width: $statusSize;
  border-radius: 100%;
  color: $white;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $statusSize;
    height: $statusSize;
    path {
      stroke: $white;
    }
  }
  .loadingIcon {
    width: 14px;
    height: 14px;
    min-height: 14px;
    min-width: 14px;
    margin-bottom: 0;
  }
}
.statusRunning {
  > div {
    margin-bottom: 0;
  }
}
.statusSuccess {
  background: $green;
}
.statusError {
  background: $red;
}
.statusWarning {
  background: $yellow;
  svg {
    path {
      stroke: transparent;
      fill: $white;
    }
  }
}
.statusNoQueries, .statusNoResults {
  background: $lightPurpleTwo;
}
.statusUnknown {
  background: $midGray;
}
.statusIndicator {
  .tooltipHeading {
    font-size: $bodyTwoSize;
    font-weight: 800;
    margin: 0 0 $xxs;
  }
}