@use "@/assets/styles/variables" as *;

.link.sidebarLink {
  padding: 20px 12px;
  margin-right: 1px;
  background-color: $lightGray;
  border-radius: 0;
  transition: $defaultAnim;
  svg {
    height: $m;
    width: $m;
    path {
      fill: $darkGray;
    }
  }
  &.grayedOut {
    opacity: 0.75;
  }
  &:hover, &.active {
    background-color: $lightPurpleTwo;
    svg {
      path {
        fill: $purpleOne;
      }
    }
  }
}