@use "@/assets/styles/variables" as *;

.link.sidebarLink {
  padding: 20px 12px;
  margin-right: 1px;
  background-color: $lightGray;
  border-radius: 0;
  transition: $defaultAnim;
  svg {
    height: $m;
    width: $m;
    path {
      fill: $darkGray;
    }
  }
  &.grayedOut {
    opacity: 0.4;
    cursor: default;
  }
  &.redDot {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: $l;
      left: $m;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      border: 1.5px solid $lightGray;
      background-color: $red;
      z-index: 10;
    }
  }
  &:hover, &.active {
    background-color: $lightPurpleTwo;
    svg {
      path {
        fill: $purpleOne;
      }
    }
  }
  &:hover:has(:global(.freshResultsToast):hover) {
    background-color: $lightGray;
    svg {
      path {
        fill: $darkGray;
      }
    }
  }
}