@import "../../Assets/Styles/variables";

.resultsList {
  margin-bottom: $s;
  padding: 0 0 $s;
  .resultsContainer {
    display: grid;
    grid-template-columns: 330px 1fr;
    grid-column-gap: $m;
    align-items: flex-start;
    position: relative;
    max-width: 2300px;
    width: auto;
    .resultsTableContainer {
      grid-column: 2/3;
    }
    .resultsTable {
      box-shadow: $dropShadow;
      font-size: $bodyTwoSize;
      border-radius: $defaultBorderRadius;
      .tableBody {
        &>div:nth-child(odd){
          background-color: $lightGray;
        }
        &>div:first-child {
          background-color: $purpleTwo;  
        }
      }
      .tableHead {
        border-bottom: 1px solid $midGray;
        display: grid;
        grid-template-columns: 1fr 200px 50px;
        // grid-template-columns: 1fr 50px 200px 50px;
        // Columns including checkbox
        // grid-template-columns: 50px 1fr 50px 200px 50px;
        padding: 12px;
        border-radius: 5px 5px 0 0;
        .head {
          display: flex;
          align-items: center;
          text-align: center;
          font-size: 10px;
          font-weight: 700;
          line-height: 1.25;
          text-transform: uppercase;
          color: $white;
          width: min-content;
        }
        .checkboxContainer {
          display: none;
          label {
            margin: 0;
          }
        }
        .nameHead {
          text-align: left;
        }
        .fdaHead {
          cursor: default;
          position: relative;
        }
        .fdaHead, .evidenceHead {
          justify-self: center;
        }
        .nameHead, .evidenceHead {
          &:hover {
            cursor: pointer;
          }
          &.true, &.false {
            position: relative;
            &:after {
              content: '';
              width: 0;
              height: 0;
              position: absolute;
              top: 2px;
              right: -15px;
              margin-left: 3px;
              border-top: 0px solid transparent;        
              border-right: 5px solid transparent;
              border-bottom: 5px solid $white;
              border-left: 5px solid transparent;
            }
          }
          &.false {
            &:after {
              top: 4px;
              transform: rotate(180deg);
            }   
          }
        }
      }
    }
  }
  .loadingButtonIcon, .loadingIcon {
    width: 24px;
    height: 24px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    margin-right: 10px;
  }
  .loadingIcon {
    width: 48px;
    height: 48px;
  }
  .loadingButtonContainer circle, .loadingButtonContainer path {
    stroke: $white;
  }
  .loadingButton {
    color: $purpleOne;
    background-color: transparent;
    pointer-events: none;
    box-shadow: none;
    cursor: default;
    margin-bottom: 0;
    &.active {
      cursor: pointer;
      pointer-events: all;
    }
    &:hover {
      text-decoration: underline;
      box-shadow: none;
    }
  }
  .shareButton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 0 0 20px;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-right: 0;
      path {
        fill: $white;
      }
    }
  }
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}
.loadingButtonContainer {
  margin-top: $m;
  grid-column: 2/3;
  text-align: center;
  .refreshDisclaimer {
    font-size: 12px;
    margin-top: $xs;
    color: $darkGray;
    text-align: center;
  }
}
.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: $s;
  grid-column: 2/3;
  .pageNums {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 0 auto;
    .button {
      margin-bottom: 0;
      background-color: $purpleOne;
      padding: 10px 25px;
      border-radius: $defaultBorderRadius;
      color: $white;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
    .disabled {
      background-color: transparent;
      color: $midGray;
      pointer-events: none;
      cursor: default;
    }
    .pageNum {
      a {
        display: block;
        cursor: pointer;
        padding: 10px 15px;
        line-height: 1;
        margin: 8px;
        transition: all .25s ease;
        border: 1px solid transparent;
        border-radius: 5px;
        color: $darkGray;
        font-size: $bodyOneSize;
        font-weight: 700;
        &:hover {
          background-color: $purpleTwo20;
          color: $purpleOne;
        }
      }
      &.current {
        a {
          background-color: $purpleTwo20;
          color: $purpleOne;
        } 
      }
    }
  }
}

.errorText {
  padding: 20px 12px;
}

.resultsHeader {
  grid-column: 2/3;
  padding-top: $s;
  .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .right {
    display: flex;
    align-items: center;
    .loadingButtonContainer {
      margin-top: 0;
      .loadingButton {
        margin-bottom: 0;
      }
    }
  }
}
.activeFilters {
  margin: 0 0 30px;
  .filterTag {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-right: $s;
    padding: 7px 4px 7px 12px;
    font-size: 14px;
    line-height: 1;
    box-shadow: $dropShadow;
    transition: $defaultBoxShadowAnim;
    border-radius: $defaultBorderRadius;
    span {
      font-weight: 700;
      color: $black;
    }
    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      
      &:hover {
        cursor: pointer;
      }
    }
    &:hover {
      box-shadow: $dropShadowHover;
      cursor:default;
    }
  }
}