@import "../../Assets/Styles/variables";

.resultsList {
  margin-bottom: $s;
  padding: 0 0 $s;
  .resultsContainer {
    display: grid;
    grid-template-columns: 330px 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: $m;
    align-items: flex-start;
    position: relative;
    max-width: 2300px;
    width: auto;
    padding: 20px;
    .resultsTableContainer {
      grid-column: 2/3;
    }
    .resultsTable {
      box-shadow: $dropShadow;
      font-size: $bodyTwoSize;
      border-radius: $defaultBorderRadius;
      .tableBody {
        &>div:nth-child(odd){
          background-color: $lightGray;
        }
        &>div:first-child {
          background-color: $purpleTwo;
        }
      }
      .tableHead {
        border-bottom: 1px solid $midGray;
        display: grid;
        grid-template-columns: 1fr 225px 75px 50px 50px;
        padding: 12px;
        border-radius: 5px 5px 0 0;
        user-select: none;
        .head {
          display: flex;
          align-items: center;
          text-align: center;
          font-size: 10px;
          font-weight: 700;
          line-height: 1.25;
          text-transform: uppercase;
          color: $white;
          width: min-content;
        }
        .checkboxContainer {
          display: none;
          label {
            margin: 0;
          }
        }
        .nameHead {
          text-align: left;
        }
        .fdaHead {
          cursor: default;
          position: relative;
        }
        .fdaHead, .evidenceHead, .scoreHead {
          justify-self: center;
          svg {
            margin-left: 2px;
            width: 18px;
            height: 18px;
            circle {
              stroke: $white;
            }
            circle:last-child {
              fill: $white;
            }
            path {
              fill: $white;
            }
          }
        }
        .scoreSpan {
          font-size: 12px;
          text-transform: none;
        }
        .nameHead, .evidenceHead, .scoreHead {
          &:hover {
            cursor: pointer;
          }
          &.true, &.false {
            position: relative;
            &:after {
              content: '';
              width: 0;
              height: 0;
              position: absolute;
              top: 2px;
              right: -15px;
              margin-left: 3px;
              border-top: 0px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid $white;
              border-left: 5px solid transparent;
            }
          }
          &.false {
            &:after {
              top: 4px;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
  .sticky {
    background-color: $white;
    border-radius: 25px;
    padding: $s;
    position: sticky;
    bottom: $s;
    right: $s;
    width: fit-content;
    margin: 0 0 0 auto;
    box-shadow: $dropShadowHover;
    transition: $defaultBoxShadowAnim;
    z-index: 100;
    button {
      margin-bottom: 0;
    }
    &:hover {
      box-shadow: 0 5px 15px rgba(32,33,36,.4);
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .shareButton {
      margin: 0;
    }
  }
  .shareButton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 0 0 20px;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-right: 0;
      path {
        fill: $white;
      }
    }
  }
}

.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: $s;
  grid-column: 2/3;
  .pageNums {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 0 auto;
    .button {
      margin-bottom: 0;
      background-color: $purpleOne;
      padding: 10px 25px;
      border-radius: $defaultBorderRadius;
      color: $white;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
    .disabled {
      background-color: transparent;
      color: $midGray;
      pointer-events: none;
      cursor: default;
    }
    .pageNum {
      a {
        display: block;
        cursor: pointer;
        padding: 10px 15px;
        line-height: 1;
        margin: 8px;
        transition: all .25s ease;
        border: 1px solid transparent;
        border-radius: 5px;
        color: $darkGray;
        font-size: $bodyOneSize;
        font-weight: 700;
        &:hover {
          background-color: $purpleTwo20;
          color: $purpleOne;
        }
      }
      &.current {
        a {
          background-color: $purpleTwo20;
          color: $purpleOne;
        }
      }
    }
  }
}

.errorText {
  padding: 20px 12px;
}

.loadingText {
  max-width: 850px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bottomLoadingButtonContainer {
  margin-top: $xl;
}
