@import "../../Assets/Styles/variables";

.resultsList {
  margin-bottom: $s;
  padding: 0 0 $s;
  .resultsContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: $m;
    align-items: flex-start;
    position: relative;
    max-width: 2300px;
    width: auto;
    padding: $m;
    @media screen and (min-width: $large) {
      grid-template-columns: 330px 1fr;
      grid-template-rows: auto 1fr;
    }
    .resultsTableContainer {
      @media screen and (min-width: $large) {
        grid-column: 2/3;
      }
    }
    .resultsTable {
      box-shadow: $dropShadow;
      font-size: $bodyTwoSize;
      border-radius: $defaultBorderRadius;
      .tableBody {
        &>div:nth-child(odd){
          background-color: $lightGray;
        }
        &>div:first-child {
          background-color: $purpleTwo;
        }
      }
      .tableHead {
        border-bottom: 1px solid $midGray;
        display: grid;
        padding: 12px;
        border-radius: 5px 5px 0 0;
        user-select: none;
        grid-template-columns: 4fr 1fr 2fr 2fr .75fr .75fr;
        @media screen and (min-width: $desktop) {
          grid-template-columns: 1fr 60px 225px 100px 50px 75px;
        }
        .head {
          display: flex;
          align-items: center;
          text-align: center;
          font-size: 10px;
          font-weight: 700;
          line-height: 1.25;
          text-transform: uppercase;
          color: $white;
          width: min-content;
        }
        .checkboxContainer {
          display: none;
          label {
            margin: 0;
          }
        }
        .nameHead {
          text-align: left;
        }
        .fdaHead {
          cursor: default;
          position: relative;
        }
        .fdaHead, .evidenceHead, .scoreHead {
          justify-self: center;
          svg {
            margin-left: 2px;
            width: 18px;
            height: 18px;
            circle {
              stroke: $white;
            }
            circle:last-child {
              fill: $white;
            }
            path {
              fill: $white;
            }
          }
        }
        .scoreSpan {
          font-size: 12px;
          text-transform: none;
        }
        .nameHead, .evidenceHead, .scoreHead {
          &:hover {
            cursor: pointer;
          }
          &.true, &.false {
            position: relative;
            &:after {
              content: '';
              width: 0;
              height: 0;
              position: absolute;
              top: 2px;
              right: -15px;
              margin-left: 3px;
              border-top: 0px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid $white;
              border-left: 5px solid transparent;
            }
          }
          &.false {
            &:after {
              top: 4px;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}

.pagination {
  display: grid;
  margin-top: $s;
  @media screen and (min-width: $large) {
    grid-column: 2/3;
  }
  @media screen and (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
  }
}
.pageNums {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 0 auto;
  flex-wrap: wrap;
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
  .button {
    display: flex;
    margin-bottom: 0;
    background-color: $lightGray;
    padding: 9px;
    border-radius: $defaultBorderRadius;
    color: $black;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    transition: $defaultAnim;
    // @media screen and (min-width: $desktop) {
    //   padding: 10px 25px;
    // }
    &:hover {
      background-color: $palePurple;
    }
  }
  .disabled {
    background-color: transparent;
    color: $midGray;
    pointer-events: none;
    cursor: default;
    opacity: 0;
  }
  .pageNum {
    a {
      display: block;
      cursor: pointer;
      padding: 10px ;
      line-height: 1;
      margin: 6px;
      transition: $defaultAnim;
      border: 1px solid transparent;
      border-radius: 5px;
      color: $black;
      font-size: $bodyOneSize;
      font-weight: 700;
      @media screen and (min-width: $desktop) {
        padding: 10px 15px;
        margin: 8px;
      }
      &:hover {
        background-color: $lightGray;
        color: $purpleOne;
        text-decoration: none;
      }
    }
    &.current {
      a {
        background-color: $palePurple;
        color: $purpleOne;
      }
    }
  }
}

.errorText {
  padding: 20px 12px;
}

.loadingText {
  max-width: 850px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bottomLoadingButtonContainer {
  margin-top: $xl;
  display: grid;
  justify-content: center;
}
