@import "../../Assets/Styles/variables";

.loginContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  .left {
    display: grid;
    align-content: center;
    background-color: $purpleTwo;
    padding: 125PX $m;
    img {
      max-width: 350px;
      margin: 0 auto $s;
    }
    p {
      font-size: 18px;
      font-weight: 700;
      color: $white;
      margin: 0;
      text-align: center;
    }
  }
  .right {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    .heading {
      font-size: $xl;
      color: $purpleTwo;
      margin-bottom: $xxs;
    }
    .blurb {
      font-size: 18px;
      margin-bottom: $xl;
    }
    .continueButton {
      margin: 0 auto;
      font-size: $buttonSize;
      font-weight: bold;
      line-height: 1;
      padding: 10px $xs;
      border-radius: $defaultBorderRadius;
      border: none;
      cursor: pointer;
      transition: $defaultBoxShadowAnim;
      color: $white;
      background-color: $purpleOne;
      text-decoration: none;
      display: inline-flex;
      width: fit-content;
      justify-content: center;
      align-items: center;
      margin-bottom: $s;
      &:hover {
        box-shadow: $dropShadowHover;
      }
      svg {
        margin-right: 8px;
      }
    
      &.secondary {
        color: $purpleOne;
        background-color: $white;
      }
      &.iconOnly {
        border-radius: 50%;
        padding: 8px;
        svg {
          margin-right: 0;
        }
      }
      &.clicked {
        box-shadow: $dropShadowPressed;
      }
      &:disabled, &[disabled] {
        color: $midGray;
        background-color: white;
        border-color: $midGray;
        box-shadow: none;
        cursor: default;
      }
    }
  }
}