@use '@/assets/styles/variables' as *;

.projectDetail {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  .projectHeaderContainer {
    position: relative;
  }
  .projectTabsContainer {
    position: relative;
    .projectTabs {
      margin-top: 0;
    }
  }
  .queryGrid {
    display: flex;
    flex-direction: column;
    gap: $s;
  }
  .emptyState {
    text-align: center;
    padding: $xl;
    color: $midGray;
  }
  .error {
    text-align: center;
    padding: $xl;
    color: $red;
  }
  .projectTabContent {
    min-height: 250px;
  }
  .separator {
    margin: $s auto;
    border-bottom: 1px solid $midGray;
    width: 87%
  }
  .additionalQueriesLabel {
    margin: 0;
    font-weight: 400;
    font-size: $bodyTwoSize;
    color: $darkGray
  }
}
