@import "../../Assets/Styles/variables";

.tooltip {
  top: -6px;
  right: 0;
  bottom: -6px;
  left: 0;
  width: 100%;
  position: absolute;
  transition: opacity .3s ease;
  z-index: 20;
  .tooltipContainer {
    position: absolute;
    z-index: 20;
    top: 100%;
    right: 0px;
    background-color: $darkGray; 
    color: $white;
    border-radius: $defaultBorderRadius;
    padding: $xs;
    width: 330px;
    text-align: left;
    box-shadow: $dropShadowHover;
  }
  &:after {
    content: '';
    width: 16px;
    height: 16px;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(135deg);
    border-radius: 0 0 0 0.25em;
    background-color: $darkGray;
    // border-style: solid;
    // border-width: 0 8px 8px 8px;
    // border-color: transparent transparent $darkGray transparent;
    position:absolute;
    top: calc(100% - 7px);
    right: 80px;
    z-index: -1;
  }
  &.left {
    .tooltipContainer {
      right: auto;
      left: 4px;
    }
    &:after {
      right: auto;
      left: $m;
    }
  }

  &.above {
    .tooltipContainer {
      top: auto;
      box-shadow: none;
      bottom: 100%;
      }
    &:after {
      top: auto;
      bottom: calc(100% - 7px);
      transform: rotate(-45deg);
    }
  }
  
  p {
    margin-bottom: 2px;
  }
  .heading {
    font-size: 14px;
    line-height: 17.5px;
  }
  .text {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    text-transform: none;
  }
  .children {
    p {
      font-size: 12px;
      font-weight: 400;
      text-transform: none;
    }
  } 
  .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    svg {
      margin-right: 0 !important;
      path {
        stroke: $white;
      }
    }
  }
  &.open {
    opacity: 1;
    pointer-events: all;
  }
  &.closed {
    opacity: 0;
    pointer-events: none;
  }

}