   @use "@/assets/styles/variables" as *;

.resultsHeader {
  margin-bottom: $s;
  @media screen and (min-width: $large) {
    grid-column: 2/3;
  }
  .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .heading {
    color: $purpleOne;
    margin-bottom: 0;
  }
  .resultsCount {
    margin: 0;
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: $s;
}

.noveltyToggle {
  white-space: nowrap;
}

.activeFilters {
  margin: $s 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}