@use "@/assets/styles/variables" as *;

.spinner {
  width: $l;
  height: $l;
  border: 3px solid $white;
  border-top: 3px solid $purpleOne;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: $m;
  
  &.small {
    width: $m;
    height: $m;
    border-width: 2px;
  }
  
  &.large {
    width: $xxl;
    height: $xxl;
    border-width: 4px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}