@import "../../Assets/Styles/variables";

.subTwo {
  margin: 10px $s 0 0;
  font-size: 14px;
}
.subTwo, .showButton {
  display: flex;
  font-weight: 700;
  color: $darkGray;
}
.showButton {
  margin: 0 auto 16px;
  display: flex;
  background-color: transparent;
  box-shadow: none;
  font-size: 16px;
  &:hover {
    box-shadow: none;
    text-decoration: underline;
  }
}
.examplesContainer {
  margin: 0 0 35px;
}
.examples {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0 0;
  white-space: nowrap;

  .exampleList {
    & > div {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 12px;
      @media (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .button {
      background-color: $white;
      color: $purpleOne;
      align-items: center;
      background-color: $white;
      border-radius: 5px;
      color: $purpleOne;
      cursor: pointer;
      display: inline-flex;
      font-size: 16px;
      font-weight: 700;
      justify-content: center;
      line-height: 1;
      padding: 10px 8px;
      text-decoration: none;
      transition: box-shadow .25s ease;
      box-shadow: $dropShadow;
      margin: 0 $m 0 0;
      @media (min-width: $desktop) {
        margin: 0 $s 0 0;
      }
      &:hover {
        box-shadow: $dropShadowHover;
      }
    }
  }
}