@import "../../Assets/Styles/variables";

.demoDisclaimer {
  text-align: center;
  font-weight: 700;
  color: $darkGray;
  margin: 0 0 35px;
}
.subTwo {
  margin: 0 0 4px;
  font-size: 14px;
  display: flex;
  font-weight: 700;
  color: $black;
}
.expandButton {
  transition: $defaultAnim;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.expanded {
  .expandButton {
    rotate: 180deg;
  }
}
.examplesContainer {
  margin: 12px 0 35px;
  position: relative;
  background-color: $lightPurpleTwo;
  padding: $m;
  border: 1px solid $midPurpleTwo;
  border-radius: 8px;
}
.examples {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .subTwo {
    white-space: nowrap;
  }
  .exampleList {
    & > div {
      display: flex;
      flex-wrap: wrap;
    }
    .button {
      background-color: $white;
      color: $black;
      align-items: center;
      background-color: $white;
      border-radius: 5px;
      cursor: pointer;
      display: inline-flex;
      font-size: 12px;
      font-weight: 700;
      justify-content: center;
      line-height: 1;
      padding: 10px 8px;
      text-decoration: none;
      transition: box-shadow .25s ease;
      box-shadow: none;
      margin: 0 $s $s 0;
      white-space: nowrap;
      &:hover {
        box-shadow: $dropShadowHover;
      }
    }
  }
}