@use "@/assets/styles" as *;

.app {
  .layout { display: flex; height: 100vh; justify-content: stretch; }
  .smallScreen { width: 0; }
  .content { flex: 1; display: flex; flex-direction: column; }
  .content > footer { margin-top: auto; }
}
