@import "./Assets/Styles/globals";


.app {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.header-disclaimer {
  padding: $xs;
  background-color: $red;
  position: sticky;
  top: 0;
  z-index: 1000;
  p {
    text-align: center;
    margin: 0;
    color: $white;
    font-weight: 800;
    font-size: $captionSize;
  }
}