@import "./Assets/Styles/globals";

.App {
  background-color: $white;
  min-height: 100vh;
  color: $black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
}



.circle-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  padding-bottom: 15px;
  align-items: center;
  p {
    display: inline-block;
    line-height: 2;
  }
}

.tab-content { 

  &.Colors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}