   @use "@/assets/styles/variables" as *;

.inputContainer {
  position: relative;
  width: 100%;
  &.disabled {
    input {
      background-color: $white;
      color: $purpleOne;
      font-weight: 800;
    }
    input::-webkit-input-placeholder {
      color: $purpleOne;
      font-weight: 800;
      opacity: 0;
    }
    input::-ms-input-placeholder{
      color: $purpleOne;
      font-weight: 800;
      opacity: 0;
    }
    input::placeholder {
      color: $purpleOne;
      font-weight: 800;
      opacity: 0;
    }
    input::-moz-placeholder {
      color: $purpleOne;
      font-weight: 800;
      opacity: 1;
      opacity: 0;
    }
    .clickablePlaceholder {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 40px;
      color: $purpleOne;
      font-weight: 800;
      cursor: pointer;
    }
  }
  &.swapTerms {
    .iconLeft {
      display: flex;
      width: 68px;
      height: 32px;
      align-items: center;
      justify-content: space-between;
    }
    .input input {
      padding-left: 88px;
    }
    .clickablePlaceholder {
      left: 88px;
    }
  }
}

.input {
  width: 100%;
  margin: 0;
  input {
    border: none;
    &:focus {
      outline: none;
    }
    
  }
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    opacity: 0.7;
  }
} 