@use "@/assets/styles/variables" as *;

.urlGrid {
  display: grid;
  gap: $xs;
}

.tableBody .tableItem  {
  .sourceName {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .sourceNameText {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
