@import "./variables";

// Form Input Sizes
.text-input, .select, .search-container, .button, .file-input {
  display: inline-grid;
  margin: 0 2% $s 0;
  &.s {
    width: 23%;
  }
  &.m {
    width: 48%;
  }
  &.l {
    width: 98%;
  }
  .error-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $red;
    margin-top: 8px;
    font-size: $captionSize;
    &:before {
      content: url('../../Icons/Alerts/Info.svg');
      margin-right: 4px;
    }
  }
}

.graph-tooltip {
  transition: opacity .25s ease;
  opacity: 0;
  padding-bottom: $xs;
  z-index: 100;
  position: relative;
  pointer-events: none;
  .tooltip-text {
    background-color: #222;
    margin: $xs;
    padding: $xs;
    position: relative;
    border-radius: $defaultBorderRadius;
    box-shadow: $dropShadowHover;
    text-align: center;
    .label, a, a span, .type {
      font-size: $bodyTwoSize;
      color: $white;
    }
    a {
      display: flex;
      align-items: center;
      text-decoration: underline;
    }
    .label {
      font-weight: 700;
      margin: 0;
    }
    .type {
      font-weight: 400;
    }
  }
  .tooltip-markup {
    text-align: left;
    svg {
      display: inline;
      margin: 0 3px 0 0;
      min-width: 18px;
      fill: $white;
      path {
        fill: $white;
      }
    }
  }
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.edge-label {
  font-weight: 700;
}