@import "./variables";

// Form Input Sizes
.text-input, .select, .search-container, .button {
  display: inline-grid;
  grid-template-columns: minmax(0,1fr);
  margin: 0 2% $s 0;

  &.s {
    width: 23%;
  }
  &.m {
    width: 48%;
  }
  &.l {
    width: 98%;
  }
  .error-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $red;
    margin-top: 8px;
    font-size: $captionSize;
    &:before {
      content: url('../../Icons/Alerts/Info.svg');
      margin-right: 4px;
    }
  }
}
