@import "./variables";

// Form Input Sizes
.text-input, .select, .search-container, .button, .file-input {
  display: inline-grid;
  margin: 0 2% $s 0;
  &.s {
    width: 23%;
  }
  &.m {
    width: 48%;
  }
  &.l {
    width: 98%;
  }
  .error-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $red;
    margin-top: 8px;
    font-size: $captionSize;
    &:before {
      content: url('../../Icons/Alerts/Info.svg');
      margin-right: 4px;
    }
  }
}

.graph-tooltip {
  transition: opacity .25s ease;
  opacity: 0;
  padding-bottom: $xs;
  z-index: 0;
  position: relative;
  pointer-events: none;
  .tooltip-text {
    background-color: $white;
    margin: $s;
    padding: $s;
    position: relative;
    border-radius: $defaultBorderRadius;
    box-shadow: $dropShadowHover;
    text-align: center;
    // &::after {
    //   content: '';
    //   position: absolute;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   bottom: -10px;
    //   height: 0px;
    //   width: 0px;
    //   border-right: solid 10px transparent;
    //   border-left: solid 10px transparent;
    //   border-top: solid 10px $white;
    // }
    .label, .id {
      font-weight: 700;
      font-size: $s;
      margin: 0;
    }
  }
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.edge-label {
  font-weight: 700;
}