@import "./variables";


.pane {
  &.actions {
    a,button {
      background-color: transparent;
      display: flex;
      align-items: center;
      color: $black;
      svg {
        margin-right: $xs;
      }
      svg, svg path {
        stroke: unset;
        fill: unset;
      }
      &:hover {
        box-shadow: none;
      }
    }
  }
}


.home {
  .page-title {
    height: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
  }
}

.results {
  .fda-head {
    .tooltip-container {
      right: -40px;
    }
    .tooltip:after {
      right: 0px;
    }
  }
  .fda-icon {
    .tooltip-container {
      right: -40px;
      top: calc(100% + 10px);
    }
    .tooltip:after {
      top: calc(100% + 3px);
      right: 5px;
    }
  }
  .result:nth-child(odd) {
    .path {
      background-color: $lightGray;
    }
  }
}

.terms-of-use h1.h5 {
  margin: 0;
}
.faq-container {
  .right {
    h1.h5 {
      margin: 0;
    }
    p.caption:first-of-type {
      margin-bottom: $m;
    }
  } 
}