@import "../../Assets/Styles/variables";

.loadingButtonContainer {
  text-align: center;
  .refreshDisclaimer {
    font-size: $captionSize;
    margin-top: $xs;
    color: $darkGray;
    text-align: center;
  }
}
.loadingButtonIcon {
  height: $m;
  width: $m;
}
.complete {
  margin: 0 auto;
  display: flex;
  align-items: center;
  cursor: default;
  white-space: nowrap;
  span {
    font-size: 16px;
    color: $purpleOne;
    line-height: 1;
    padding: 10px 8px;
    font-weight: 700;
  }
}
.loadingButtonIcon {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
  margin-right: 10px;
}
.loadingButton {
  color: $purpleOne;
  background-color: transparent;
  pointer-events: none;
  box-shadow: none;
  cursor: default;
  margin-bottom: 0;
  &.active {
    cursor: pointer;
    pointer-events: all;
  }
  &:hover {
    text-decoration: underline;
    box-shadow: none;
  }
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}