@use "@/assets/styles/variables" as *;

label.checkbox {
  margin-bottom: $s;
  &.disabled {
    opacity: 0.5;
    .box {
      background-color: $lightGray;
      svg path {
        stroke: $lightGray;
      }
    }
    &:hover, &:focus {
      cursor: not-allowed;
      .box {
        background-color: $lightGray;
      }
    }
  }
  .box {
    display: grid;
    justify-content: center;
    align-items: center;
    place-content: center;
    width: $s;
    height: $s;
    border-radius: 2.5px;
    transition: .5s transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: $white;
    border: 1px solid $darkGray;
    transition: $defaultAnim;
    svg {
      height: 24px;
      width: 24px;
      opacity: 0;
      transition: $defaultAnim;
      path {
        stroke: $white;
        transition: $defaultAnim;
      }
    }
    &:before {
      display: none;
    }
  }
  &:hover, &:focus {
    cursor: pointer;
    .box {
      background-color: $whiteHover;
      &:before {
        opacity: 0;
      }
      &.hasIcon {
        box-shadow: none;
      }
    }
  } 
  &.checked {
    .box {
      &.hasIcon {
        background-color: $darkGray;
      }
      svg {
        opacity: 1;
      }
    }
    &:hover, &:focus {
      .box {
        background-color: $purpleTwo;
      }
    }
  }
  input[type="radio"], input[type="checkbox"] {
    height: 0;
    width: 0;
    opacity: 0;
    margin: 0;
  }
}