@import "@/assets/styles/variables";

.historyListContainer {
  .historyContainer {
    padding-top: 0;
    max-width: 640px;
    margin: 0 auto;
  }
  .searchBarContainer {
    background-color: $palePurple;

    .form {
      display: flex;
      justify-content: space-between;
      padding: 0 $l $l;
      max-width: 640px;
      margin: 0 auto;
      label {
        display: flex;
        width: 100%;
        margin: 0;
        input {
          width: -moz-available;
          width: -webkit-fill-available;
        }
      }
      button {
        margin: 0 0 0 $xs;
        padding: 10px 20px;
      }
    }
  }
  .loadingIcon {
    path {
      fill: $midDarkGray !important;
    }
  }
}
.historyList {
  list-style: none;
  padding-left: 0;
  .historyItem {
    &:first-of-type {
      .time-name {
        margin: 0 0 $m;
      }
    }
    .timeName {
      font-size: 20px;
      line-height: 1.25;
      font-weight: 800;
      color: $darkGray;
      margin: $xl 0 $m;
    }
    .exportButton {
      width: 32px;
      height: 32px;
      position: relative;
      margin: 0;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        width: 24px;
        height: 24px;
        path {
          fill: $black;
        }
      }
    }
    .query {
      cursor: pointer;
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: $s;
      align-items: center;
      .top {
        margin: 0 0 $xxs;
      }
      .bottom {
        span {
          color: $darkGray;
          font-size: 12px;
        }
      }
    }
    .itemContainer {
      padding: $m;
      margin-bottom: $s;
      box-shadow: $dropShadow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: $defaultBorderRadius;
      transition: $defaultBoxShadowAnim;
      &:hover {
        box-shadow: $dropShadowHover;
      }
      .subject,.action {
        color: $purpleOne;
        font-weight: 800;
      }
      .removeItem {
        background-color: transparent;
        padding: 0;
        margin: 0;
        box-shadow: none;
        &:hover {
          box-shadow: none;
        }
        svg {
          margin: 0;
        }
      }
    }  
  }
}