   @use "@/assets/styles/variables" as *;

.facetGroup {
  padding: 15px 0;
  border-bottom: 1px solid $midGray;
  &:last-of-type {
    border-bottom: none;
  }
  .underline {
    text-decoration: underline;
  }
  .facetButton {
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    color: $black;
    padding: 0;
    text-align: left;
    margin-bottom: 0;
    width: 100%;
    &:hover {
      box-shadow: none;
    }
    svg {
      transition: all .35s ease;
    }
    &.isExpanded {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  
  .top,.left {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    .select {
      height: min-content;
      width: 115px;
    }
  }
  .subOne {
    color: $darkGray;
  }
  .subTwo {
    margin: 0;
    font-weight: 800;
    font-size: 14px;
    color: $black;
  }
  .caption {
    font-size: $captionSize;
    margin: 0 0 $s;
    font-weight: 400;
    color: $darkGray
  }
  label {
    margin: 0;
  }
  .roleSpan, .fdaSpan {
    font-size: 12px; 
  }
  .roleSpan {
    display: block !important;
  }
  .tooltipParagraph {
    font-size: 12px;
    margin-bottom: 4px;
    font-weight: 400;
  }
  .tooltipLink {
    margin: 0 2px;
    font-size: 12px; 
    color: $white;
    display: inline-flex;
    align-items: center;
    svg {
      width: 16px;
      margin-left: 0;
      transform: none !important;
      path {
        fill: $white !important;
      }
    }
  }
  .section {
    &::-webkit-scrollbar-track {
      background-color: $white;
    }
    &.role {
      max-height: 250px;
      overflow-y: auto;
    }
  }
  .roleFilter {
    width: calc(100% - 11px);
    margin-bottom: 8px;
    input {
      color: #202124;
      font-size: 12px;
      font-weight: 800;
      padding: 9px 12px 9px 44px;
      border-radius: 8px;
      border: 1px solid #CED0D0;
      text-overflow: ellipsis;
      overflow: hidden;
      outline-width: 0px;
      outline-style: solid;
    }
  } 
}