@import "../../Assets/Styles/variables";

.pathView {
  padding: 0;
  position: relative;
  .tableHead, .tableItem {
    display: grid;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    .name, .target {
      font-size: 14px;
      font-weight: 700;
    }
    .path {
      font-size: 12px;
      font-weight: 400;
    }
  }
  .tableHead {
    margin-bottom: $m;
    span {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 800;
      line-height: 12.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-right: 4px;
      cursor: pointer;
    }
  }
  .tableItem {
    position: relative;
    .pathContainer, .name, .target {
      line-height: 17.5px;
      border-radius: $defaultBorderRadius;
      padding: 7px 0;
      &:first-child {
        background-color: $yellow;
        padding: 7px 0;
      }
    }
    .pathContainer {
      position: relative;
      svg {
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
      }
    }
    .path {
      display: block;
      justify-content: flex-start;
      box-shadow: none;
      width: auto;
      padding: 0 2px;
      max-width: 87px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: white;
      z-index: 10;
      color: $darkGray;
      margin-right: 0;
      transition: all .25s ease;
      path {
        transition: all .25s ease;
      }
      &:hover {
        color: $black;
        path {
          fill: $black;
        }
      }
    }
    .name, .target {
      box-shadow: $dropShadow;
      transition: all .25s ease;
      width: 100%;
      overflow: hidden;
      &:hover {
        box-shadow: $dropShadowHover;
      }
    }
    .target {
      background-color: $blueOne;
      color: $white;
      svg {
        margin-right: 8px;
      }
    }
  }
  .formattedPath {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    align-items: center;
    gap: 8px;
    margin-bottom: $m;
    padding-left: $m;
    position: relative;
    .formattedPath {
      padding-left: 0;
    }
    .num {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.25;
      color: $darkGray;
      align-self: flex-start;
    }
    .pathEvidenceButton {
      display: flex;
      background-color: $white;
      border: 1px solid $darkGray;
      padding: 4px;
      border-radius: $defaultBorderRadius;
      margin: 0;
      transition: all .25s ease;
      align-self: start;
      svg {
        width: 24px;
        height: 24px;
        margin-right: 0;
        path, line, circle {
          transition: all .25s ease;
          fill: $darkGray;
        }
      }
      &:hover {
        background-color: $darkGray;
        svg {
          path, line, circle {
            fill: $white;
          }
        }
      }
    }
  }
  .show {
    margin: 0;
    display: block;
    color: $darkGray;
    background-color: transparent;
    box-shadow: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .showAll {
    margin: 0 auto;
  }
  .buttons {
    display: flex;
    justify-content: center;
    button:last-child {
      margin-left: $s;
    }
    button:first-child {
      margin-left: 0;
    }
  }
  .header {
    margin-bottom: $s;
    p {
      font-size: 12px;
      color: $darkGray;
    }
  }
  .needHelp {
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $purpleOne;
    margin: 0;
    svg {
      margin-right: 4px;
      path {
        fill: $purpleOne;
      }
    }
    a {
      padding: 0;
      color: $purpleOne;
      text-decoration: none;
      font-weight: 700;
      font-size: 12px;
      box-shadow: none;
      margin: 0 0 0 4px;
      background-color: transparent;
      &:hover {
        box-shadow: none;
        text-decoration: underline;
      }
    }
  }
  .support {
    grid-column: 1/8;
    grid-row: 2;
    background-color: $palePurple;
    border: 1px solid $purpleEdgeBG;
    border-radius: $defaultBorderRadius;
    padding: $s;
    margin: $m 0 0 0;
    position: relative;
    left: -42px;
    overflow: hidden visible !important;
    .formattedPath:last-of-type {
      margin-bottom: 0;
    }
    .supportGroupContainer {
      overflow-x: auto;
      outline: none;
    }
  }
}

.unhighlighted {
  opacity: .5;
  z-index: 10;
}

.edgeLabel {
  fill: #000 !important;
}
.inferenceLabel {
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: $s;
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  cursor: default;
  svg {
    margin-left: 4px;
  }
}
.inferenceSeparator {
  width: 100%;
  margin: 0 auto 20px;
  height: 2px;
  background-color: $darkGray;
}
.filtered {
  .predicateInterior, .nameInterior, .targetInterior {
    opacity: 0.5;
  }
}
