@import "../../Assets/Styles/variables";


.nameContainer,.pathContainer,.targetContainer {
  border-radius: $defaultBorderRadius;
  svg {
    min-width: 24px;
    height: 24px;
  }
  .provenance {
    display: flex !important;
    align-items: center;
    margin: $xs 0 0 0;
    color: $white;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    font-size: 14px;
    text-decoration: underline;
    span {
      font-size: 12px;
      text-decoration: underline;
      color: $white;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline;
      cursor: pointer;
    }
    svg {
      display: inline;
      margin: 0 3px 0 0;
      min-width: 18px;
      circle:first-child {
        stroke: $white;
        fill: transparent;
      }
      circle {
        fill: $white;
      }
      path {
        fill: $white;
      }
    }
  }
}
.nameContainer,.pathContainer {
  margin-right: 4px;
}
.name,.pathContainer,.target {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nameContainer {
  position: relative;
  box-shadow: none;
  background-color: $lightGray;
  border-radius: $defaultBorderRadius;
  box-shadow: $dropShadow;
  border: 1px solid transparent;
  &:hover {
    box-shadow: $dropShadowHover;
  }
  &:first-child {
    border: none;
    background-color: $yellow;
  }
  svg {
    margin-right: 5px;
    path {
      fill: $black;
    }
  }
}

.pathContainer {
  padding: 0;
  position: relative;
  cursor: pointer;
}
.pathContainer, .nameContainer, .targetContainer {
  cursor: pointer;
  &>span {
    padding: 7px 9px;
  }
  span, mark {
    font-size: 14px;
    font-weight: 700;
  }
  span.hasMore {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 14px;
    margin: 3px 0 8px;
    font-weight: 400;
  }
}

.nameContainer, .targetContainer {
  transition: all .25s ease;
  max-height: 40px;
}
.targetContainer {
  background-color: $blueOne;
  color: $white;
  position: relative;
  box-shadow: $dropShadow;
  svg {
    margin-right: 8px;
    path {
      fill: $white;
    }
  }
  &:hover {
    box-shadow: $dropShadowHover;
  }
}

.edgeLabel {
  fill: #000 !important;
}

.sourceEdgeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sourceEdge {
  color: $black;
  font-size: 12px;
  margin-bottom: 0;
  display: grid;
  strong {
    color: $black;
    font-size: 12px;
    font-weight: 700;
  }
}

.edgeProvenanceLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

