@import "../../Assets/Styles/variables";

.labelContainer {
  width: 100%;
  .labelHeading {
    display: grid;
    grid-template-columns: 1fr 35px;
    width: 100%;
  }
  .filterCount {
    background-color: $midGray;
    color: $darkGray;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.25;
    padding: 2.5px 4px;
    border-radius: $defaultBorderRadius;
  }
  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      display: inline-flex;
      align-items: center;
      position: relative;
    }
    svg path {
      fill: $darkGray;
    }
  } 
  svg {
    margin-left: 4px;
    &.tooltipIcon {
      transform: none !important;
    }
  }
  .subOne {
    color: $darkGray;
  }
  .subTwo {
    margin: 0;
    font-weight: 800;
    font-size: 14px;
    color: $black;
  }
  .caption {
    font-size: $captionSize;
    margin: 0 0 15px;
    font-weight: 400;
    color: $darkGray;
  }
  label {
    margin: 0;
  }
}
